extends ./includes/page

block bodyscripts
  script(src="js/jquery.flexslider-min.js")

block content
  .wrapper
    ul.expose-listing
      li.expose-und-eckdaten
        .expose-slideshow-wrapper
          .slideshow.slideshow-expose
            .flexslider
              ul.slides
                .expose-status
                  span Reserviert
                li: img(src='data/2-0913/1.jpg')
                li: img(src='data/2-0913/2.jpg')
                li: img(src='data/2-0913/3.jpg')
                li: img(src='data/2-0913/4.jpg')
                li: img(src='data/2-0913/5.jpg')
                li: img(src='data/2-0913/6.jpg')
                li: img(src='data/2-0913/7.jpg')
                li: img(src='data/2-0913/8.jpg')
                li: img(src='data/2-0913/9.jpg')
                li: img(src='data/2-0913/10.jpg')
        .expose-extra-wrapper
          h2 Rafol de Almunia - Ref. 2-0913
          h1 Traumobjekt mit sep. Gästebereich, Pool, ZH, Kamin, BBQ, herrl. Gartenanlage, Meersicht
          ul.expose-extra
            li: p Baujahr: 2010
            li: p Wohnfläche: 249 m²
            li: p Grundstück: 13.010 m²
            li: p Zimmer: 5
            li: p Badezimmer: 3
            li: p Schlafzimmer: 4
            li: p Zentralheizung
            li: p.price Preis: 950.000 €
          .button-expose-wrapper
            .button-expose
              a.fotos-link(href='#expose-gallery') Weitere Fotos
            .button-expose
              a.fotos-link(href='http://www.spanienobjekte.com/downloads/Kurtzexpose%202-2315.pdf') Kurz-Expose (PDF)
            .button-expose
              a.fotos-link(href='javascript:window.print()') Drucken
      li.expose-description#expose-beschreibung
        h3 Beschreibung
        p
          | Wenn Sie gehobene Ansprüche, auch an Ihre Ferienimmobilie oder Ihren Altersruhesitz stellen, dann sollten Sie sich dieses Objekt etwas näher ansehen.
          br
          br
          | Diese in Ihrer Bauqualität und Beschaffenheit einzigartige Villa wird Ihnen, bereits bei der ersten Besichtigung, ein ganz besonderes Wohlgefühl vermitteln. Die derzeitigen Eigentümer (Architekt), haben die Villa im Jahr 2001 mit viel Liebe zum Detail erstellt.
          br
          br
          | Bei der Planung wurde sehr viel Wert auf eine solide Bauweise, eine funktionelle Grundrissgestaltung und ein schönes, typisch spanisches Design gelegt. Auch das Grundstück wurde sorgfältig ausgewählt und liebevoll angelegt.
          br
          br
          | Kurzum: ein Objekt zum Verlieben. Die Wohnfläche erstreckt sich über 2 Etagen. Im Hauptgeschoss befinden sich ein großzügiges Wohnzimmer, ein Esszimmer, zwei Schlafzimmer, zwei Duschbäder mit WC sowie eine hochwertige Einbauküche mit amerikanischer Theke.
          br
          br
          | Von dem Hauptschlafzimmer und dem Wohnbereich gelangt man auf die vorgelagerte, überdachte Terrasse. Die Poolebene mit BBQ ist um wenige Stufen nach unten versetzt. Im Gartengeschoss befindet sich ein separat zugänglicher Gästebereich bestehend aus einem Wohn-Schlafbereich, einer Einbauküche und einem sehr hochwertigen Duschbad mit WC.
          br
          br
          | Auf der gleichen Ebene befinden sich ein Hauswirtschaftsraum, ein großer Kellerraum (ausbaufähig) sowie die gesamte Haustechnik. Der Garten ähnelt einem gepflegten Park mit einer Vielfalt an Bäumen, Palmen und sonstiger, landestypischen Bepflanzung. Kleine Fußwege führen zu den, jeweils auf dem Grundstück verteilten, Sitzgelegenheiten. Ihr Fahrzeug kann auf dem Grundstück parkiert werden.
      li.expose-description
        h3 Lage
        p
          | Diese Villa liegt, landschaftlich reizvoll, am Rande einer bestehenden Bebauung und bietet eine herrliche Fernsicht in das umliegende Bergpanorama und auf das Meer. Diese Anlage gehört zu dem typisch spanischen Örtchen Rafol de Almunia. Die nächsten Orte sind Pego, Oliva, Els Poblets, und Denia. Die Entfernung zum Meer beträgt ca. 12 km.
      li.expose-description
        h3 Ausstattung
        p
          | Hochwertige Massivbauweise mit doppelwandigem Mauerwerk und Isolierung, Holz-Isolierglasfenster, hochwertige Fliesenbeläge, Gas-Zentralheizung (zentrale Gasversorgung), Klimaanlage, Kaminofen im Wohnzimmer, Persianas, 2 Einbauküchen, Einbauschränke in den Schlafzimmern, Außenküche mit BBQ, Pool mit Außendusche, Hauswirtschaftsraum, Alarmanlage mit Rufweiterschaltung, automatische Bewässerung, PKW-Stellplatz, ausbaufähiger Keller, u.v.a.m.
      li.expose-description
        h3 Sonstige Angaben
        p
          | Das Objekt ist frei von jeglichen Belastungen und entspricht einem sehr fairen Preisleistungsverhältnis. Die Möbel sind nicht im Kaufpreis enthalten. Wir bitten Kunden mit der Mentalität „ Ich biete“…. von diesem Objekt Abstand zu nehmen, da der Preis nicht mehr verhandelbar ist. Am besten Sie überzeugen sich selbst von der Qualität und vereinbaren einen Besichtigungstermin.
    .expose-gallery-wrapper
      h2#expose-gallery Fotos der Immobilie
      ul.expose-fotos
        li: img(src='data/2-0913/1.jpg')
        li: img(src='data/2-0913/2.jpg')
        li: img(src='data/2-0913/3.jpg')
        li: img(src='data/2-0913/4.jpg')
        li: img(src='data/2-0913/5.jpg')
        li: img(src='data/2-0913/6.jpg')
        li: img(src='data/2-0913/7.jpg')
        li: img(src='data/2-0913/8.jpg')
        li: img(src='data/2-0913/9.jpg')
        li: img(src='data/2-0913/10.jpg')
  script(type='text/javascript', charset='utf-8').
    $(window).ready(function() {
    $('.flexslider').flexslider({
    animation: "fade",
    slideshowSpeed: 6000,
    pauseOnHover: true
    });
    });
