extends ./includes/page
  
block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.generic-navigation
        li: a(href='mieten-suche.html') Villen &amp; Häuser Mieten
        li: a(href='mieten-suche.html') Wohnungen Mieten
        li: a(href='service-mieter.html') Service für Mieter
        li: a(href='service-vermieter.html') Service für Vermieter
        li: a#current-site(href='gaestebuch.html') Gästebuch
    .generic-rechte-spalte
      ul.listing.referenzen
        li
          h3 Eintrag vom 16. Juli 2015
          p
            | Dear Verena,
            br
            | I hope you are well,
            br
            br
            | Just a quick mail from France to thank you again for your services that have contributed to make us enjoy a perfect holiday! The villa was fantastic, just what we expected. 
            | We will no doubt use SCHAICH IMMOBILIEN in the future should we decide to rent in the Denia area again.
            br
            br
            | Best regards,
            br
            | David GORON
        li
          h3 Eintrag vom 15. Juli 2015
          p
            | Den woning Ist sehr modern eingerichtet und Sauber fantastische garden mit verscheidene platte zum relaxen
            br
            | Gerne kommen wir nogal Zürich
            br
            | Sehr anzubefehlen
        li
          h3 Eintrag vom 23. Juni 2015
          p
            |Sehr schön eingerichtete Villa, alles sauber, es fehlte an nichts
            br
            | freundliche Aufnahme durch das Team der Fa. Schaich
            br
            | wundervolle 14 Tage, gern wieder, der Abschied viel schwer aber wir sehen
            br
            | uns 2016 in dieser Villa wieder
            br
            br
            | Klaus und Carmen B.
        li 
          h3 Eintrag vom 12. August 2014
          h4 Betreff: Urlaub Villa Soleada
          p
            |Sehr geehrte Frau Schaich,
            br
            br
            | der Urlaub in ihrer wunderschönen Villa Soleada, hat uns von der ersten Minute an gefallen.
            | Ihre nette Begrüßung (gekühler Sekt) und der gute Service haben dazu beigetragen.
            | Auch wir freuen uns auf ein Wiedersehen.
            br
            br
            | Mit freundlichen Grüßen
            br
            br
            | Familie Nakanishi