extends ./includes/page

block content
  .wrapper
    .gallery-spalten-wrapper
      .generic-linke-spalte
        ul.generic-navigation
          li: a(href='anlageobjekte.html') Immobilien Investoren
          li: a(href='stadt/altea.html') Immobilien Altea
          li: a(href='stadt/benissa.html') Immobilien Benissa
          li: a(href='stadt/denia.html') Immobilien Denia
          li: a(href='stadt/els-poblets.html') Immobilien Els Poblets
          li: a(href='stadt/javea.html') Immobilien Javea
          li: a(href='stadt/la-sella.html') Immobilien La Sella
          li: a(href='stadt/moraira.html') Immobilien Moraira
          li: a(href='stadt/oliva.html') Immobilien Oliva
          li: a(href='stadt/orba.html') Immobilien Orba
          li: a(href='stadt/pego.html') Immobilien Pego
          li: a(href='stadt/pedreguer.html') Immobilien Pedreguer
      .generic-rechte-spalte
        h2.title Häuser Kaufen
        ul.gallery
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/haeuser.jpg')
              p Villen & Fincas
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/luxus.jpg')
              p Luxus
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/neubau.jpg')
              p Neubau
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/reihenhaus.jpg')
              p RH & Stadthäuser
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/grundstuecke.jpg')
              p Grundstücke
          li
            a(href='kaufen-suche.html', alt='Villa')
              img(src='img/wohnungen.jpg')
              p Wohnungen & Apt.
