extends ./includes/page

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.suche-navigation.gallery-navigation.generic-navigation
        li: a(href='kontakt.html') Kontakt
        li: a(href='unser-team.html') Unser Team
        li: a#current-site(href='/impressum.html') Impressum
    .generic-rechte-spalte
      ul.listing.stadt
        li
          h2 Impressum
          p
            | Unsere Angebote sind freibleibend und ohne Gewähr. Grundlage eines Kaufangebotes ist der uns erteilte Vermittlungsauftrag der im Expose bezeichneten Immobilie.
            | Für die Richtigkeit und Vollständigkeit der im Expose oder auf unserer Internetseite genannten Angaben übernehmen wir keine Gewähr, die Informationen  beruhen auf Mitteilungen der Eigentümer.
            | Ebenso können ggf. beiliegende Planzeichnungen, Grundrisse, Schnitte oder Lagepläne vom tatsächlichen Zustand der Immobilie abweichen. Selbstverständlich sind wir bemüht, jeden Verkaufsauftrag mit größtmöglicher Sorgfalt zu bearbeiten, bitten jedoch um Ihr Verständnis, dass wir nur haften können, wenn wir vorsätzlich oder grob fahrlässig einen Schaden verursacht haben.
            | Irrtum und Zwischenverkauf bleiben vorbehalten. Für die Vermittlung erhalten wir eine Vermittlungsprovision die bereits im Kaufpreis beinhaltet ist.
            | Fällt eine Provision für den Käufer an, so ist diese ausdrücklich im Expose genannt. Das Angebot darf nur mit unserer schriftlichen Einwilligung an Dritte weitergegeben werden.
            | Die unbefugte Weitergabe oder die direkte Kontaktaufnahme mit dem Eigentümer und ein daraus folgender Vertragsabschluss ist rechtlich einer Vermittlung durch unser Büro gleichzusetzen und wirken sich provisionspflichtig aus.
            | Bitte vereinbaren Sie Besichtigungstermine ausschließlich über unser Büro, da die Eigentümer der Objekte keinen direkten Kontakt ohne Terminabsprache wünschen.
          p
            | Das kopieren von Dateien und Bildern aus unserer Homepage oder von anderen Werbeträgern unseres Unternehmens ist ausdrücklich untersagt. Zuwiderhandlungen verpflichten zum Schadensersatz.
          p
            | Dem Auftraggeber wird die Verpflichtung auferlegt jeden Interessenten, der an ihn herantritt, an uns zu verweisen.
          p
            | Eine Übereinstimmung zwischen Angebots- und Abschlusspreis ist nicht erforderlich.
          p
            | Durch die Unwirksamkeit einer oder mehrerer dieser Bestimmungen wird die Wirksamkeit der übrigen nicht beeinträchtigt.
          p
            | Für beide Teile gilt als Erfüllungsort Denia in Spanien und als Gerichtsstand Denia, soweit nicht gesetzlich etwas anderes gilt. Es wird ausdrücklich festgelegt, dass für alle Geschäfte spanisches Recht zu Grunde gelegt wird.
