extends ./includes/page

block bodyscripts
  script(src="js/jquery.flexslider-min.js")

block content
  .spalte-wrapper.spalte-wrapper-index
    .spalte-links
      .search-wrapper
        form.search(action='demo_form.html')
          label.search-label(for='search-input') Objekt-Suche
          input#search-input(type='search', required='', placeholder='Referenz-Nummer', aria-required='true')
          input#search-button(type='button', method='post', value='Suchen')
      .contact-us
        h3 Rufen Sie uns an!
        p(style='text-align:center;')
          a#tel(href='tel:+34966469452') (0034) 966 469 452
      #weather.weather
        ul.bxslider
          li#col-0
            .col-a
              .location Denia
              p.weather-img: img(src="http://doocoding.com/weathersticker/widget/images/64x64/01d.png")
            .col-b
              p.sysdt ...
              p.temp ... &deg;C
      script.
        var month = new Array();
        month[0] = "Januar";
        month[1] = "Februar";
        month[2] = "März";
        month[3] = "April";
        month[4] = "Mai";
        month[5] = "Juni";
        month[6] = "Juli";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "Dezember";
        var API = "http://api.openweathermap.org/data/2.5/weather?lat=38.8387992&lon=0.1050557&APPID=6e01f258d5b031c3140eb7b18c4fb928";
        $.ajax({
        type: "get",
        enctype: 'multipart/form-data',
        contentType: false,
        processData: false,
        url: API,
        }).done(function(msg){
        temp = msg.main.temp - 272.15;
        temp_min = msg.main.temp_min - 272.15;
        temp_max = msg.main.temp_max - 272.15;
        sysdt = new Date(msg.dt * 1000);
        sunrise = new Date( msg.sys.sunrise * 1000);
        sunset = new Date( msg.sys.sunset * 1000);
        $("#col-0 .weather-img").html("<img src=http://doocoding.com/weathersticker/widget/images/64x64/"+msg.weather[0].icon+".png>");
        $("#col-0 .temp").html(Math.round(temp) + "&deg;C");
        $("#col-0 .sysdt").html(sysdt.getDate() + " " +month[sysdt.getMonth()]);
        });
    .spalte-rechts
      .slideshow-wrapper
        .slideshow
          .flexslider
            ul.slides
              li: img(src='img/offer/N-3814-01.JPG')
              li: img(src='img/offer/N-3814-03.JPG')
              li: img(src='img/offer/N-3814-04.JPG')
              li: img(src='img/offer/N-3814-02.JPG')
        .side
          a.top(href='http://www.spanienobjekte.com/wohnung-denia-kaufen.php?id=785')
            h1 Objekt der Woche
          h2
            | Denia: Gepflegtes 2 Schlafzimmer Apartment mit Stellplatz, Terrasse und schönem Gemeinschaftspool nur 50 m vom feinsten Sandstrand, 145.000 €
          .button.button-top-offer
            a(href='expose-2-0913.html') Mehr Info
  .wrapper
    #banner-1.banner
      a(href='kunden-suche.html')
        h2 Wir suchen für vorgemerkte Kunden
        p Jetzt Objekt offerieren
    ul.gallery.front-gallery
      li
        a(href='kaufen-suche.html', alt='Villa')
          img(src='img/haeuser.jpg')
          p
            | Häuser & Fincas
            br
            | Kaufen
      li
        a(href='unser-team.html', alt='Villa')
          img(src='img/wohnungen.jpg')
          p
            | Wohnungen
            span.hide  & Apartments
            br
            | Kaufen
      li
        a(href='http://casas.immos4you.com/venta/casas/pedreguer?id=1726', alt='Villa')
          img(src='img/grundstuecke.jpg')
          p
            | Grundstücke
            br
            | Kaufen
      li#neubau
        a(href='http://casas.immos4you.com/venta/casas/pedreguer?id=1726', alt='Villa')
          img(src='img/neubau.jpg')
          p Neubau
      li
        a(href='http://casas.immos4you.com/venta/casas/pedreguer?id=1726', alt='Villa')
          img(src='img/luxus.jpg')
          p Luxus Immobilien
      li
        a(href='http://casas.immos4you.com/venta/casas/pedreguer?id=1726', alt='Villa')
          img(src='img/vermietung.jpg')
          p Vermietung
    #banner-2.banner
      a(href='//www.spanienobjekte.com/immobilien-spanien-makler-kauf-bau-denia-javea-schaich-els-poblets-villa.html')
        h2 Mehr als 1.000 attraktive Immobilien
        //- p Jetzt Objekt anfragen
    .spalte-wrapper-unten
      #container2
        #container1
          #col1.spalte-links-unten
            ul.buero
              li
                a(href='')
                  img(src='img/buero-schaich.jpg')
                  p Büro Els Poblets
              li
                a(href='')
                  img(src='img/buero-stella.jpg')
                  p Büro Stella
              li
                a(href='')
                  img(src='img/buero-de.jpg')
                  p Büro Deutschland
          #col2.spalte-rechts-unten
            blockquote.review
              span.author Ein Erfahrungsbericht von Familie D. aus Deutschland
              br
              br
              | Wer kennt das nicht; die Überlegung wo man den nächsten Sommerurlaub verbringen will?
              | Bei unseren Überlegungen haben wir uns an Denia und seine Strände erinnert. Dort, zwischen Valencia und Alicante, an der Costa Blanca hatten wir bereits schon einmal einen wunderschönen Urlaub verbracht.
              br
              br
              | Wir suchten ein Haus mit Pool für unsere Kinder und uns. Im Internet sind wir dann auf die Fa. Schaich Immobilien gestoßen. Die Häuser im Vermietungsangebot waren alle sehr schön doch eines hatte es uns angetan und so haben wir Kontakt aufgenommen.
              br
              br
              | Wir waren etwas unsicher da wir vorher noch nie ein Haus über das Internet angemietet hatten. Doch die freundliche, kompetente und auch telefonische Betreuung durch Frau Schaich nahm uns schnell jeden Zweifel.
              br
              br
              | Nachdem wir in Spanien angekommen waren wurden wir kurz nach der Autobahnabfahrt in Empfang genommen und zu unserem Ferienhaus begleitet und um es kurz zu sagen, unsere Erwartungen wurden übertroffen. Als Frau Schaich uns zu dem Haus führte waren wir von dem Zustand und der Ausstattung begeistert.
              br
              br
              | Frau Schaich zeigte uns das ganze Haus, den Garten, den Pool und gab uns auch noch Einkauf und Besichtigungstips. Wir verbrachten einen wunderschönen Urlaub in dieser Finca am Rande von Pedreguer inmitten der Orangenplantagen und traumhaften Blick in die Berge. Es war so schön, dass wir das Haus 3 Jahre weiterhin für unseren Sommerurlaub mieteten.
              br
              // <br><br><span class="author">Gottlieb Beck, Dipl.Ing.</span>
              br
              br
              | Frau Schaich zeigte uns das ganze Haus, den Garten, den Pool und gab uns auch noch Einkauf und Besichtigungstips. Wir verbrachten einen wunderschönen Urlaub in dieser Finca am Rande von Pedreguer inmitten der Orangenplantagen und traumhaften Blick in die Berge. Es war so schön, dass wir das Haus 3 Jahre weiterhin für unseren Sommerurlaub mieteten.
              br
            .button.button-review
              a(href='referenzen.html') Weitere Referenzen Lesen

  script(type='text/javascript', charset='utf-8').
    $(window).ready(function() {
      $('.flexslider').flexslider({
      animation: "fade",
      //          controlNav: "thumbnails",
      slideshowSpeed: 6000,
      pauseOnHover: true
      });
    });
