extends ./includes/page

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.suche-navigation.gallery-navigation.generic-navigation
        li: a#current-site(href='/kontakt.html') Kontakt
        li: a(href='/unser-team.html') Unser Team
        li: a(href='/impressum.html') Impressum
    .generic-rechte-spalte
      ul.listing.stadt.kontakt
        li.buero
          h3 Büro Els Poblets
          .buero-links
            img(id="buero-pic", src="http://www.spanienobjekte.com/media/images/schaich-immobilien-els-poblets-makler-denia-verkaufen-vermieten-bauen-renovieren.jpg")
          .buero-rechts
            #adressen
              p Partida Barranquets C/29, 2B, BG, E-03779 Els Poblets
              p Telefon Verkauf: (0034) 966 469 452
              p Telefon Vermietung: (0034) 650 052 245
              p Fax: (0034) 966 474 823
              p
               | Email:&nbsp;
               a(href="mailto:elspoblets@schaich-immobilien.de") elspoblets@schaich-immobilien.de
            .hr
            #zeiten
              p
                | Mo-Fr. 9:00 - 18:00
              p
                | Sa. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:30 - 13:00
        li
          form.contact
            .felder-links
              p
                label(for="first_name") Vorname
                input(type="name" name="first_name")
              p
                label(for="name") Name
                input(type="name" name="name" required="")
              p
                label(for="strasse") Straße
                input(type="text" name="strasse")
              p
                label(for="plz") PLZ
                input(type="text" name="plz")
              p
                label(for="wohnort") Wohnort
                input(type="text" name="wohnort")
              p
                label(for="telefon") Telefon
                input(type="tel" name="telefon" required="")
              p
                label(for="mobiltelefon") Mobiltelefon
                input(type="text" name="mobiltelefon")
              p
                label(for="email") Email
                input(type="text" name="email" required="")

            .felder-rechts
              p
                label(for="anfrage") Detaillierte Anfrage
                textarea(name='anfrage')
              button.button-submit.button-contact(type='submit') Anfrage senden

        li
          h3(style="padding: 10px;") Finden sie unser Büro
          .maps-container
            .maps-wrapper#maps-wrapper
              noscript
                a(href="https://www.google.de/maps/place/Schaich+Immobilien+S.L/@38.852364,0.012945,17z/data=!3m1!4b1!4m2!3m1!1s0x129e1d71debb4bd9:0x4ae2492f4caa27b") Google Maps - Schaich Immobilien S.L.
              script.
                $(document).ready(function() {
                  $("#maps-wrapper").css("padding-bottom", "55%");
                  $("#maps-wrapper").css("padding-top", "25px");
                  $("#maps-wrapper").html("<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3107.1307491130838!2d0.012945!3d38.852363999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129e1d71debb4bd9%3A0x4ae2492f4caa27b!2sSchaich+Immobilien+S.L!5e0!3m2!1sde!2ses!4v1439800718781' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen></iframe>");
                });
  br
