extends ./includes/page

block content
  .listing-wrapper
    ul.listing
      li
        h3 Gesuch vom 11. Juli
        p
          | Familie K. (Paar, 2 Kinder, Hund) aus Deutschland sucht ihr neues Zuhause in der Region Denia - Els Poblets. Die Villa sollte über 3 SZ, Pool, Meersicht & Außendusche verfügen.
          span.kunden-id Kunden-Nr. 350
      li
        h3 Gesuch vom 3. Mai
        p Familie S. (Paar, Kind) sucht 2-3 SZ Apartment in der Region Benissa - Calpe
        p
          | Das Apartment muss eine Klimaanlage installiert haben.
          span.kunden-id Kunden-Nr. 211
      li
        h3 Paar aus Schweiz
        p
          | Sucht 200/1500 m² Finca mit Meersicht in der nähe von Calpe, Sucht 120/500 m² Villa mit Meersicht auf Monte Pego Sucht 120/500 m² Villa mit Meersicht auf Monte Pego
          span.kunden-id Kunden-Nr. 329
    #banner-3.banner
      a(href='kontakt.html')
        h2 Haben Sie die passende Immobilie?
        p Kontaktieren Sie uns!
    br
