extends ./includes/page

block content
  .wrapper
    .generic-spalten-wrapper
      .generic-linke-spalte
        ul.generic-navigation
          li: a(href='mieten-suche.html') Villen &amp; Häuser Mieten
          li: a(href='mieten-suche.html') Wohnungen Mieten
          li: a(href='service-mieter.html') Service für Mieter
          li: a(href='service-vermieter.html') Service für Vermieter
          li: a(href='gaestebuch.html') Gästebuch
      .generic-rechte-spalte
        h2.title Häuser Mieten
        ul.gallery.mieten
          li
            a(href='/mieten-suche.html', alt='Villa')
              img(src='img/vermietung.jpg')
              p Villen
          li
            a(href='/mieten-suche.html', alt='Villa')
              img(src='img/reihenhaus.jpg')
              p Reihenhäuser
          li
            a(href='/mieten-suche.html', alt='Villa')
              img(src='img/wohnungen.jpg')
              p Wohnungen
        ul.listing.gallery-listing
          li
            h3 Mieten bei Schaich Immobilien
            p
              | Herzlich Willkommen bei der Schaich Immobilien Ferienvermietung an der Costa Blanca.
              br
              br
              | Bei uns erwartet Sie ein Service der Besonderen Art. Ein junges, freundliches Team freut darauf Ihnen einen reibungslosen und erholsamen Urlaub in einem unserer Ferienobjekte an der schönen Costa Blanca zu ermöglichen.
              br
              br
              |Eine Vielzahl an Appartements, Bungalows und Villen steht Ihnen zur Ferienvermietung oder zur Langzeitmiete an der Costa Blanca in der Region Denia, Els Poblets, La Sella, Monte Pego, Javea zur Verfügung.
              br
              br
              p: a(href="/data/Standardausstattungen-Mieten.pdf", target="_blank") Standardausstattung eines Schaich Mietobjekts (PDF)
              