extends ./includes/page

block headscripts
  link(href='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css', rel='stylesheet')
  script(src='/js/select2.min.js')

block content
  .wrapper
    .generic-spalten-wrapper
      .generic-linke-spalte
        ul.generic-navigation
          li: a#current-site(href='mieten-suche.html') Villen &amp; Häuser Mieten
          li: a(href='mieten-suche.html') Wohnungen Mieten
          li: a(href='service-mieter.html') Service für Mieter
          li: a(href='service-vermieter.html') Service für Vermieter
          li: a(href='gaestebuch.html') Gästebuch
      .generic-rechte-spalte
        include includes/suche-mieten
        ul.suche-objekt-liste
          li
            a(href='expose-2-0913.html')
              h3
                | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
            .suche-objekt-links
              a(href='expose-2-0913.html')
                .img-1: img(src='data/2-0913/1.jpg')
                .img-2: img(src='data/2-0913/2.jpg')
            .suche-objekt-rechts
              .suche-objekt-spans
                span.suche-objekt-status Neu
                span.suche-objekt-location Javea
                span.suche-objekt-price 575.000 €
              p.suche-objekt-description Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer,
              span.suche-objekt-ref Ref. 2-0913
              br
              br
              .suche-objekt-button-center
                a.suche-objekt-button(href='expose-2-0913.html') Expose aufrufen
          li
            a(href='expose-2-0913.html')
              h3
                | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
            .suche-objekt-links
              .img-1
                .suche-status: span Reserviert
                img(src='data/2-0913/1.jpg')
              .img-2
                .suche-status: span Reserviert
                img(src='data/2-0913/2.jpg')
            .suche-objekt-rechts
              .suche-objekt-spans
                span.suche-objekt-location Javea
                span.suche-objekt-price 575.000 €
              p.suche-objekt-description
                | Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer
                span.suche-objekt-ref Ref. HB-134523
              .suche-objekt-button-center
                a.suche-objekt-button(href='expose-2-0913.html') Expose aufrufen
          li
            a(href='expose-2-0913.html')
              h3
                | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
            .suche-objekt-links
              .img-1
                .suche-status: span Verkauft
                img(src='data/2-0913/1.jpg')
              .img-2
                .suche-status: span Verkauft
                img(src='data/2-0913/2.jpg')
            .suche-objekt-rechts
              .suche-objekt-spans
                span.suche-objekt-location Javea
                span.suche-objekt-price 575.000 €
              p.suche-objekt-description
                | Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer
                span.suche-objekt-ref Ref. HB-134523
              br
              br
              .suche-objekt-button-center
                a.suche-objekt-button(href='expose-2-0913.html') Expose aufrufen