extends ./includes/page

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.suche-navigation.gallery-navigation.generic-navigation
        li: a(href='referenzen.html') Referenzen
        li: a#current-site(href='presse.html') Presse / TV
    .generic-rechte-spalte
      ul.listing.presse
        li
          h3 Referenz für den Hausverkauf von Andy Borg
          img(src='//www.spanienobjekte.com/media/images/inka-bause-widmung-f-rs-b-ro-03.jpg', height='800px')
        li
          h3 Immobilienmesse Reutlingen Oktober 2014
          img(src='http://www.spanienobjekte.com/media/images/immobilien-makler-denia-javea-els.poblets-tuebingen-reutlingen-kaufen-mieten.jpg')
          p Wir stellten unter anderem Immobilien an der Costa Blanca rund um Denia vor.
        li
          h3 Liberbank fällt als einzige spanische Bank durch den Stresstest
          p.presse-text
            a(href='http://www.wsj.de/nachrichten/SB11231094356576213864904580238280076463488') Bericht des WSJ
            br
            br
            |             Von Jeannette Neumann, am 26. Oktober 2014
            br
            br
            |             MADRID. In Spanien hat nur eine von insgesamt 16 teilnehmenden Banken den Stresstest der Europäischen Zentralbank (EZB) nicht bestanden. Die kleine Liberbank wies zum 31. Dezember eine Kapiltallücke von 32,2 Millionen Euro aus. Allerdings hatte die Bank bereits entsprechende Maßnahmen ergriffen und ihr Kapital bis Ende September um knapp 637 Millionen Euro erhöht.
            br
            br
            |             Wie aus den Stresstest-Ergebnissen weiter hervorgeht, weist die Bank Santander, gemessen am Marktwert das größte Kreditinstitut der Eurozone, eine harte Kernkapitalquote von 10,34 Prozent auf - erforderlich waren beim Asset Quality Review mindestens 8 Prozent. Im Rezessionsszenario brachte es Santander auf eine Kernkapitalquote von 8,95 Prozent - hier waren mindestens 5,5 Prozent erforderlich, um den Stresstest zu bestehen.
        li
          h3 Inka Bause bei Dreharbeiten für "Unser neues Zuhause"
          img(src='http://www.spanienobjekte.com/media/images/inka-bause-widmung-f-rs-b-ro-02.jpg')
        li
          h3 Oldie Night in der Stierkampfarena Ondara
          img(src='http://www.spanienobjekte.com/media/images/schaich-inmmobilien,_20110718_143840-01.jpg')
