extends ./includes/page

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.suche-navigation.gallery-navigation.generic-navigation
        li: a#current-site(href='referenzen.html') Referenzen
        li: a(href='presse.html') Presse / TV
    .generic-rechte-spalte
      ul.listing.referenzen
        li
          h3 Referenz vom 12.06.2015
          p
            | Betreff: Hauskauf
            br
            br
            | Liebes Schaich Team,
            br
            br
            | wir möchten uns sehr herzlichst bedanken, vor allem bei Nadine Starck die uns vom ersten Tag an Super betreut hat. Es war eine Rundumbetreuung.
            br
            br
            | Von der ersten E-Mail bis zum Kauf und dem Notartermin. Für uns war es nicht nur eine geschäftliche Verbindung, alleine durch die herzliche Art von Nadine.
            br
            br
            | Sie ist immer offen und ehrlich zu uns gewesen. Sie hat uns immer ein pro und contra bei den zu besichtigten Objekten genannt. Wir hatten nie das Gefühl das sie ein Haus verkaufen muss. Immer ein offenes Ohr für uns denn bei einem Hauskauf gibt es viele Fragen. Auch unmögliche Dinge hat Nadine mit Ihren Kollegen möglich gemacht.
            br
            br
            | Durch Nadine haben wir unser kleines Paradies gefunden.
            br
            | 1000 Dank und auf weiterhin gute Zusammenarbeit.
            br
            | Vielen Dank für Eure Super und Professionelle Arbeit dem gesamten Schaich Team .
            br
            br
            | Man kann Schaich Immobilien in Spanien nur weiter empfehlen
            br
            br
            | Super Super Arbeit
            br
            br
            | das einzige was uns in Zukunft fehlen wird sind die täglichen E-mails mit Nadine ...........
            br
            br
            | Grüße Gisela und Heinz Carthaser
        li
          h3 Referenz vom 02.03.2015
          p
            | Sehr geehrte Frau Starck,
            br
            br
            | im Nachgang zum Notartermin letzten Donnerstag möchte ich mich für die kompetente Beratung bedanken die es uns ermöglicht hat, in relativ kurzer Zeit ein für uns passendes Objekt zu finden und zu erwerben. Dazu beigetragen hat auch die umfassende Beratung zu mit dem Erwerb verbundenen Nebenkosten, möglichen Mieterträgen und sonstigen mit dem Immobilienerwerb verbundenen lokalen Gegebenheiten. In Ihnen und Ihrem Team fanden wir für alle Fragen stets offene Ohren und freuen uns, wenn die Zusammenarbeit auch nach dem Erwerb mit Vermietungsservice oder anderen Dienstleistungen fortgesetzt werden kann.
            br
            br
            | Mit freundlichen Grüßen
            br
            br
            | Gottlieb Beck, Dipl.Ing.
        li
          h3 Referenz vom 27.02.2015
          p
            | Betreff: Venta de mi casa
            br
            br
            | Quiero por la presente darle la gracia a todo el equipo de Schaich por su apoyo indefectible frente a todos los problemas que encontre durante la venta de mi casa
            br
            br
            | Se monstraron siempre de buen humor y con calma lo resolvieron todo en muy poco tiempo
            br
            br
            | Gracias especiales a Xaro, Nadine y Lorenzo
            br
            br
            | Cordiales saludos
            br
            br
            | Marlise Defferrard
        li
          h3 Referenz vom 17.02.2015
          p
            | Hallo Frau Starck,
            br
            br
            | ich möchte mich nachträglich nochmal ganz herzlich für die gute Zusammenarbeit mit Ihnen und Ihrem Team bedanken. Alles hat zu unserer vollsten Zufriedenheit geklappt, ob das die Terminvereinbarungen mit der Telefongesellschaft oder dem Fernsehtechnichniker waren. Die Betreuung beim Notar oder der Bank waren alle minuziös geplant und wurden auch alle eingehalten. Auch die Veränderungen die noch an unserem Haus zu machen sind, wurden im Büro Schaich mit der Baufirma besprochen. Auch da hatte ich den Eindruck, dass ich mich in guten Händen befand. Die Änderungen kann ich zwar im April erst sehen, bin aber überzeugt, dass alles so ausgeführt wird, wie es besprochen wurde. Im Nachhinein, kann ich nur sagen, wer die Fa. Schaich mit seinen Anliegen beauftragt, hat eine sehr gute Wahl getroffen, und bekommt ein rundum Sorglos - Paket. Aus diesen Gründen kann ich die Fa. Schaich mit bestem Gewissen weiterempfehlen. Würde denen sogar 6 Sterne geben, leider ist bei 5 Schluss. Also nochmal ein ganz herzliches Dankeschön an Frau Starck und Ihr Team.
            br
            br
            | Jürgen Kessler
        li
          h3 Referenz vom 26. Januar 2015
          p
            | We would like to take this opportunity to thank Andreas, Nadine and all the staff at Schaich Immobilien for the professional and efficient manner in which they looked after the sale of our villa in Els Poblets.  A very smooth and problem free experience.  We can happily recommend your company to anyone wishing to buy or sell a property in this part of the world.
            br
            br
            | Valerie and Stephen.
        li
          h3 Referenz vom 08. Januar 2015
          p
            | Kauf einer Immobilie in Els Poblets
            br
            br
            | Liebe Frau Starck,
            br
            br
            | ein herzliches Dankeschön für die sehr professionelle Betreuung beim Kauf unserer Immobilie in Els Poblets. Trotz des langen Zeitraums (bedingt durch die Verkäuferseite) zwischen Erstkontakt und endgültiger Vertragsunterzeichnung waren Sie immer kurzfristig erreichbar und haben alles schnell und zuverlässig erledigt. Ich hoffe dass sich die erstklassige Betreuung nun im zweiten Schritt (Vermietung) fortsetzt. Die Erwartungshaltung ist natürlich aufgrund der sehr guten Erfahrungen bei der Kaufabwicklung sehr hoch. Ich würde mich aber freuen wenn ich auch über Ihren Service „Vermietung“ in einiger Zeit weitere positive Erfahrungen mit Ihrem Hause gemacht habe.
            br
            br
            | Viele Grüße JH
        li
          h3 Referenz vom 04. Januar 2015
          img(src='http://www.spanienobjekte.com/media/images/schaich-inmmobilien,_20131114_093246_001.jpg')
          p
