extends ./includes/page
  
block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.generic-navigation
        li: a(href='mieten-suche.html') Villen &amp; Häuser Mieten
        li: a(href='mieten-suche.html') Wohnungen Mieten
        li: a(href='service-mieter.html') Service für Mieter
        li: a#current-site(href='service-vermieter.html') Service für Vermieter
        li: a(href='gaestebuch.html') Gästebuch
    .generic-rechte-spalte
      ul.listing.referenzen.service
        li
          h3 Serviceleistungen für unsere Vermieter
        li
          h4 Auswahl der Mieter
          p Vermietung nicht an „Masse sondern Klasse“, jeder Mieter wird persönlich oder telefonisch vorselektiert.
          h4 Persönliche Einquartierung
          p Abholung aller Mieter vom Treffpunkt und Begleitung zum Objekt, mit Einzugsprotokoll ggf. mit Fotos.
          p Ein- u. Auszug gegen Protokoll mit Mietkautionszahlung.
          h4 Mehrsprachiger Service
          p Mietanfragen werden 4-sprachig beantwortet (DE/EN/ES/FR), Internetportale werden 4-sprachig bestückt (DE/EN/ES/FR).
          p Ausführliche Mietverträge 4 sprachig (DE/EN/ES/FR) mit mehr Rechtssicherheit für den Eigentümer (keine einfachen Buchungsbestätigungen)
          h4 Anwerbung Ihrer Immobilie
          p Bewerbung Ihrer Immobilie in diversen Internetportalen weltweit (z.B. Fewo-Direkt, Kyero u.a.), in Schaukästen, mit Flyern etc.
          h4 Klare & Schnelle Abrechnung
          p Abrechnung der Mieteinnahmen bereits zum Monatsende nach erfolgter Vermietung und nicht zum Jahresende wie bei den meisten Agenturen.
          h4 Faire Kosten
          p Unsere Kommission beträgt für Immobilienkunden 25% der Mieten, für fremde Eigentümer (ohne Verkaufsauftrag oder gekauft bei uns) 25% plus 21% IVA der Gesamtmiete. Vermietungskommission bei Wintermonatsmieten 20% (bzw. 20%+IVA) zzgl. Nebenkosten.
          h4 Hoher Sauberkeits-Standard
          p Putzfirmen unter persönlicher Aufsicht von uns - Standard - sehr sauber!
          h4 Mieter-Service
          p Serviceleistungen für den Mieter, die dem Mieter die Entscheidung für ein „Schaich-Haus“ vereinfachen, wie z.B. Ersteinkaufservice, Babypaket, Kleinkindpaket, etc. siehe Mieter-Service
          h4 Diebstahlschutz
          p Keine Besichtigung im Haus ohne Begleitung von uns, Schlüsselübergabe gegen Quittierung.
          h4 Weitere Services
          p Garten- und Poolpflege wird von uns überwacht oder auf Wunsch erledigt.
          p Notfallservice für den Mieter und Eigentümer, z.B. Kühlschrankdefekt.
          h4 Reparierungen & Renovierungen
          p Handwerkerbetreuung durch uns und das mit Preis- und Leistungsvorteilen für die Eigentümer aufgrund der Vielzahl der betreuten Objekte.
          p Handwerkerarbeiten und Nachweise mit Fotos per Mail.
          p Prüfung des Objekts auf sichtbare Beschädigungen, anschaltung der Heizung vor Ihrer Ankunft oder reinigung des Objekts vor der Ankunft neuer Gäste.
          