extends ./includes/page
  
block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.generic-navigation
        li: a(href='mieten-suche.html') Villen &amp; Häuser Mieten
        li: a(href='mieten-suche.html') Wohnungen Mieten
        li: a#current-site(href='service-mieter.html') Service für Mieter
        li: a(href='service-vermieter.html') Service für Vermieter
        li: a(href='gaestebuch.html') Gästebuch
    .generic-rechte-spalte
      ul.listing.referenzen.service
        li
          h3 Serviceleistungen für unsere Mieter
          p 
            | Wir hoffen, dass wir Sie mit diesem exklusiven Serviceangebot von unserem qualitativ hochwertigen Mietangebot überzeugen können.
            br
            br
            | Bei weiteren Wünschen und Anregungen, freuen wir uns von Ihnen zu hören! 
            br
            br
            | Ihr Vermietungs-Team
            
        li
          h4 Einkaufservice
          p Gegen einmalig 15 € erledigen wir den ersten Einkauf und Sie werden in Ihrem Feriendomizil von einem nach Ihren Wünschen gefüllten Kühlschrank inkl. Begrüßungsaperitif empfangen. 
          h4 Vermittlung kostengünstiger Mietfahrzeuge
          p Auf Anfrage auch gerne mit Flughafen Hol- und Bringdienst, damit Ihr Urlaub für Sie stressfrei beginnt und endet. Die Kosten hierfür belaufen sich auf 130 € inkl. Autobahngebühr, bei Nachtfahrten 20 € Aufschlag und im Falle von Flugverspätungen berechnen wir 10 € je Stunde Wartezeit.
          h4 Putzservice
          p Für alle Ferien-Putzmuffel bieten wir einen wöchentlichen Putzservice durch unser qualifiziertes Putzteam an, für 30 €/3h.
          h4 Arzt & Hospitalservice
          p Wir begleiten Sie im Krankheitsfall zum Arzt bzw. Hospital und helfen übersetzen für 15 €/h.
          h4 Fahrradverleih
          p Wir organisieren Ihnen leihweise Renn-/Mountainbikes in guter Qualität für die Dauer Ihres Aufenthalts gegen eine einmalige Gebühr in Höhe von 15 €.
          h4 Angellizenz
          p Auf Wunsch besorgen wir den Anglerfreunden unter Ihnen auch im Vorfeld gerne eine Angellizenz gegen einmalig 15 € (Internetportal ist nur auf Spanisch).
          h4 Babybox
          p Für Babys bis 24 Monate kann gegen 25 €/Woche neuwertiges Babyspielzeug, Krabbeldecken, Reisebett und Hochstuhl mit Lätzchen angemietet werden. Babyfon und Gläschenwärmer für 15 €/Woche. Die Gepäckvorschriften im Flieger werden ja schließlich immer enger. 
          h4 Kleinkindpaket
          p Für Kinder von 2-8 Jahren haben wir eine Box mit Spielsachen, Hörspielkassetten und Kindervideos/ DVDs im Verleih. Der Inhalt wird individuell abgesprochen und kostet wöchentlich 15 €. Dreirad, Laufrad oder Roller für 15 € pro Woche.
          h4 Babysitterservice
          p Im Urlaub einen zuverlässigen Babysitter zu finden ist schwer, aber durch uns problemlos möglich. Unsere Babysitter sind alle erprobt und zuverlässig, Preise auf Anfrage.

