extends ./includes/page

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.suche-navigation.gallery-navigation.generic-navigation
        li: a(href='kontakt.html') Kontakt
        li: a#current-site(href='unser-team.html') Unser Team
        li: a(href='/impressum.html') Impressum
    .generic-rechte-spalte
      h2 Lernen Sie unser Team kennen
      ul.team-listing
        li
          img(src='http://www.spanienobjekte.com/media/images/immobilienmakler-denia-javea-oliva-pego-.jpg')
          .team-rechts
            .line1
              h3.team-name Andreas Schaich
              span.team-job-title Geschäftsleitung
            p.team-beschreibung
              | Zahlreiche zufriedene Kunden sind im Laufe der Jahre zu guten Freunden geworden. Es würde uns freuen, wenn wir auch Sie in unseren....
            a.mail(href='mailto:a.schaich@schaich-immobilien.de') a.schaich@schaich-immobilien.de
            .lastline
              a.tel(href='tel:606525500') (0034) 606 525 500
              .team-flaggen
                img(src='img/flags/Germany.png')
                img(src='img/flags/Spain.png')
                img(src='img/flags/UK.png')
                img(src='img/flags/France.png')
        li
          img(src='http://www.spanienobjekte.com/media/images/immobilien-denia-kaufen-mieten-bauen.jpg')
          .team-rechts
            .line1
              h3.team-name Lorenzo Fernandez
              span.team-job-title Stellvertretende Geschäftsführung
            p.team-beschreibung
              | Zahlreiche zufriedene Kunden sind im Laufe der Jahre zu guten Freunden geworden. Es würde uns freuen, wenn wir auch Sie in unseren....
            a.mail(href='mailto:l.fernandez@schaich-immobilien.de') l.fernandez@schaich-immobilien.de
            .lastline
              a.tel(href='tel:677891994') (0034) 677 891 994
              .team-flaggen
                img(src='img/flags/Germany.png')
                img(src='img/flags/Spain.png')
                img(src='img/flags/UK.png')
        li
          img(src='http://www.spanienobjekte.com/media/images/immobilien-makler-denia-javea-els-poblets-oliva-pego-kaufen-mieten-bauen.jpg')
          .team-rechts
            .line1
              h3.team-name Nadine Starck
              span.team-job-title Stellvertretende Geschäftsführung
            p.team-beschreibung
              | Zahlreiche zufriedene Kunden sind im Laufe der Jahre zu guten Freunden geworden. Es würde uns freuen, wenn wir auch Sie in unseren....
            a.mail(href='mailto:n.starck@schaich-immobilien.de') n.starck@schaich-immobilien.de
            .lastline
              a.tel(href='tel:640207398') (0034) 640 207 398
              .team-flaggen
                img(src='img/flags/Germany.png')
                img(src='img/flags/Spain.png')
                img(src='img/flags/UK.png')
        li
          img(src='http://www.spanienobjekte.com/media/images/luxusvilla-exclusive-villa-haus-finca-kaufen-mieten-denia.jpg')
          .team-rechts
            .line1
              h3.team-name Ralf Amberg
              span.team-job-title Verkauf und Akquise
            p.team-beschreibung
              | Zahlreiche zufriedene Kunden sind im Laufe der Jahre zu guten Freunden geworden. Es würde uns freuen, wenn wir auch Sie in unseren....
            a.mail(href='mailto:r.amberg@schaich-immobilien.de') r.amberg@schaich-immobilien.de
            .lastline
              a.tel(href='tel:688883200') (0034) 688 883 200
              .team-flaggen
                img(src='img/flags/Germany.png')
                img(src='img/flags/Spain.png')
                img(src='img/flags/UK.png')
