extends ../includes/page

block headscripts
  link(href='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css', rel='stylesheet')
  script(src='/js/select2.min.js')

block content
  .generic-spalten-wrapper.wrapper
    .generic-linke-spalte
      ul.generic-navigation
        li: a(href='/anlageobjekte.html') Immobilien Investoren
        li: a(href='/stadt/altea.html') Immobilien Altea
        li: a(href='/stadt/benissa.html') Immobilien Benissa
        li: a(href='/stadt/denia.html') Immobilien Denia
        li: a(href='/stadt/els-poblets.html') Immobilien Els Poblets
        li: a(href='/stadt/javea.html') Immobilien Javea
        li: a(href='/stadt/la-sella.html') Immobilien La Sella
        li: a(href='/stadt/moraira.html') Immobilien Moraira
        li: a(href='/stadt/oliva.html') Immobilien Oliva
        li: a(href='/stadt/orba.html') Immobilien Orba
        li: a(href='/stadt/pego.html') Immobilien Pego
        li: a(href='/stadt/pedreguer.html') Immobilien Pedreguer
    .generic-rechte-spalte
      include ../includes/suche-kaufen
      script.
       $mySelect.val(["denia"]).trigger("change");
      ul.suche-objekt-liste
        li
          a(href='../expose-2-0913.html')
            h3
              | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
          .suche-objekt-links
            a(href='../expose-2-0913.html')
              .img-1
                img(src='../data/2-0913/1.jpg')
              .img-2
                img(src='../data/2-0913/2.jpg')
          .suche-objekt-rechts
            .suche-objekt-spans
              span.suche-objekt-status Neu
              span.suche-objekt-location Javea
              span.suche-objekt-price 575.000 €
            p.suche-objekt-description Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer,
            span.suche-objekt-ref Ref. 2-0913
            br
            br
            .suche-objekt-button-center
              a.suche-objekt-button(href='../expose-2-0913.html') Expose aufrufen
        li
          a(href='../expose-2-0913.html')
            h3
              | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
          .suche-objekt-links
            .img-1
              .suche-status: span Reserviert
              img(src='../data/2-0913/1.jpg')
            .img-2
              .suche-status: span Reserviert
              img(src='../data/2-0913/2.jpg')
          .suche-objekt-rechts
            .suche-objekt-spans
              span.suche-objekt-location Javea
              span.suche-objekt-price 575.000 €
            p.suche-objekt-description Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer,
            span.suche-objekt-ref Ref. HB-134523
            br
            br
            .suche-objekt-button-center
              a.suche-objekt-button(href='../expose-2-0913.html') Expose aufrufen
        li
          a(href='../expose-2-0913.html')
            h3
              | Denia 2-2315 » Villa mit Gästewohnung, beheizbarem Pool, Garage, Jacuzzi, Zentralheizung und 1.400 m² Grundstück
          .suche-objekt-links
            .img-1
              .suche-status: span Verkauft
              img(src='../data/2-0913/1.jpg')
            .img-2
              .suche-status: span Verkauft
              img(src='../data/2-0913/2.jpg')
          .suche-objekt-rechts
            .suche-objekt-spans
              span.suche-objekt-location Javea
              span.suche-objekt-price 575.000 €
            p.suche-objekt-description Wohnfläche: ca. 350 m², Grundstück: ca. 1500 m², 6 Schlafzimmer, 4 Badezimmer,
            span.suche-objekt-ref Ref. HB-134523
            br
            br
            .suche-objekt-button-center
              a.suche-objekt-button(href='../expose-2-0913.html') Expose aufrufen
      ul.listing.stadt
        li
          h3 Ihr Traumobjekt in Denia
          p
            | Ihre eigene Immobilie in Denia kann der Ausgangspunkt sein, für viele interessante Ausflüge in die nähere Umgebung.
          p
            | Da Denia auch über den Winter viele Gäste und Besucher aus aller Welt hat, gibt es nicht nur im Sommer interessante Freizeitangebote und vielfältige Sportmöglichkeiten wie Segeln, Tauchen, Angeln, Surfen, Golf, Wanderungen, Tennis, und weitere Outdoor-Aktivitäten.Auch sind weder der Einkauf von deutschen Produkten, noch Serviceleistungen aller Art in deutscher Sprache in Denia ein Problem, was Ihnen helfen wird, sich schnell zuhause zu fühlen.
          p
            | Machen Sie den ersten Schritt und entscheiden Sie sich für eine Immobilie in Denia!
          p
            | Immobilien in Denia finden Sie bei uns, “Schaich Immobilien”!
