@import 'stylus/*.styl'

/* Banner, Buttons, etc die öfters benutzt werden */

/*  Banner   */

.banner
  display: block
  margin: 0 auto
  width: 97.5%
  padding: 8px 0
  overflow: hidden
  background-color: primaryColor
  box-shadow: 9px 11px 22px -12px rgba(0,0,0,0.42)
  border: borderS(3px)
  BorderR()

.banner:hover
  background-color: tint(primaryColor, tintValue)
  cursor: pointer

.banner h2
  margin: 0
  font-size: 2.5em
  color: #fff
  text-align: center
  font-weight: 500
  +between(480px, 800px)
    font-size: 4.5vw;

.banner p
  margin: 0
  padding: 2px
  font-size: 1.2em
  color: tint(primaryColor, 80)
  text-align: center
  font-weight: 500
  line-height: 1.0em

.banner a:link, .banner a:visited
  text-decoration: none

@media screen and (max-width:480px)
  .banner h2
    font-size: 1.3em

  .banner p
    font-size: 1em

  .banner:nth-of-type(1)
    margin-bottom: 10px

/* Button */

.button a
  background-color: primaryColor
  padding: 12px 26px
  /*  margin: 0 40%*/
  border-radius: 2px
  font-size: 1.2em
  +below(800px)
    padding: 8px 20px

.button a:hover
  background-color: tint(primaryColor, tintValue)
  cursor:pointer

.button a:link, .button a:visited
  color: white
  text-decoration: none
