@import 'stylus/*.styl'

/* Slideshow, Daten, Buttons */

.flexslider .slides img
  margin: 2.5% 2.5% 1.5% 2.5%

.flexslider .slides img
  position: relative

.expose-wrapper
  max-width: 1280px
  margin: 0 auto
  overflow: hidden

.expose-left-side, .expose-right-side
  max-width: 48%
  float: left
  padding: 0 10px
  

.expose-slideshow-wrapper
  width: 100%
  overflow: hidden

.slideshow-expose
  max-width: 100%
  margin: 0

.flexslider
  margin: 0 0 36px

.expose-extra
  /*  text-align: center*/
  list-style: none
  padding: 0
  margin: 0
  margin-left: 16px

.expose-extra li
  display: inline-block
  padding: 0 14px 0 0
  margin: 0

.expose-extra li p
  padding: 4px 0
  margin: 0

p.price
  font-weight: 500

.expose-und-eckdaten
  background-color: contentBGColor
  border: borderS()
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  margin-top: 20px

.button-expose
  display: inline-block
  margin-top: 8px
  padding: 16px 0px 20px 16px
  margin-bottom: 4px
  +between(1000px, 1100px)
    padding: 16px 0 21px 2vw;
  +below(1000px)
    padding: 16px 0 21px 2.5vw;
  +below(540px)
    padding: 16px 0 21px 2vw;
    

.button-expose a
  background-color: primaryColor
  padding: 12px 20px
  margin: 0
  border-radius: 2px
  font-size: 1.2em
  color: white
  text-decoration: none
  +between(1000px, 1100px)
    font-size: 1.15em
    padding: 12px 1vw
  +below(1000px)
    font-size: 1.2em
    padding: 12px 3vw
  +below(540px)
    font-size: 1em
    padding: 12px 2vw

.button-expose a:hover
  background-color: tint(primaryColor, tintValue)

/* Beschreibung/Lage/etc unten */

.expose-listing
  list-style: none
  padding: 0
  width: 98%;
  margin: 0 1%;
  overflow: hidden

.expose-listing > li
  background-color: contentBGColor
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()
  width: 98%;
  margin: 16px 0

.expose-listing > li h1
  font-size: 1.6em
  padding: 10px 10px
  margin: 0

.expose-listing > li h2, .expose-gallery-wrapper h2
  font-weight: 500
  font-size: 1.7em
  padding: 14px 10px 6px
  margin: 0
  text-align: center

.expose-listing > li h1, .expose-listing > li h2
  text-align: left
  padding-left: 16px
  +below(1000px)
    font-size: 1.4em

.expose-slideshow-wrapper, .expose-extra-wrapper
  float: left
  width: 50%
  +below(1000px)
    width: 98%
    
.expose-slideshow-wrapper
  +below(1000px)
    max-width: 640px
    float: none
    margin: 0 auto
    
.expose-listing > li .expose-extra-wrapper h2
  +below(1000px)
    text-align: center
    padding: 0 4px

.expose-und-eckdaten
  overflow: hidden

#expose-beschreibung
  margin-top: 20px

#expose-beschreibung p
  column-count: 3
  column-rule: solid 1px #d6d6d6
  column-gap: 30px;
  +below(860px)
    column-count: 2
    column-gap: 20px
  +below(500px)
    column-count: 1
    font-size: 1.1em

.expose-listing > .expose-description p:last-child
  padding-bottom: 16px

.expose-listing > li:last-child
  margin-bottom: 18px

.expose-listing > li:nth-child(n+3)
  margin-top: 6px
  width: 48.5%
  float: right
  margin-right: 2%
  +below(500px)
    width: 98%

.expose-listing > li:nth-child(2n+3)
  float: left
  margin-right: 0

.expose-description-2
  width: 98%

/* Bilder-Ansicht */

.expose-gallery-wrapper
  margin-top: 10px
  width: 98%
  margin-left 1%
  background-color: white
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()
  margin-bottom: 14px

.expose-gallery-wrapper > h2
  margin-bottom: 10px

.expose-fotos
  list-style: none
  padding: 0
  margin: 0
  overflow: hidden

.expose-fotos li
  width: 31.3%
  float: left
  margin-bottom: 1%
  margin-left: 1.5%
  +below(860px)
    width: 47.8%

.expose-fotos li img
  width: 100%

.button-expose-wrapper, .expose-extra
  +above(1160px)
    margin-top: 30px
    margin-bottom: 30px

/* Expose "Reserviert" "Verkauft" etc */

.expose-status
  position: absolute
  z-index:999
  background-color: rgba(255, 255, 255, 0.8)
  text-align: center
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,0.8))
  BorderR(4px)
  transform:rotate(-25deg)

.expose-status
  width: 75%
  top:40%
  left: 12.5%
  +between(1000px, 1330px)
    width: 40vw
    left: 3.5vw
  +between(700px, 1000px)
    width: 65%
    left: 14vw
  +below(700px)
    width: 76vw;
    left: 7.5vw;

.expose-status > span
  font-size: 4.5em
  color: #a30000
  text-transform: uppercase
  font-weight: 400
  +between(1000px, 1330px)
    font-size: 6vw
  +between(650px, 1000px)
    font-size: 4em
  +below(700px)
    font-size: 12vw
  