@import 'stylus/*.styl'

.expose-wrapper
  max-width: 1280px
  margin: 0 auto
  overflow: hidden

.expose-left-side, .expose-right-side
  max-width: 48%
  float: left
  padding: 0 10px

.expose-slideshow-wrapper
  width: 100%
  overflow: hidden

.slideshow
  max-width: 100%
  margin: 0

.flexslider
    margin: 0 0 36px

.expose-description > h2
  font-weight: 500
  color: #212020

.expose-description > h1
  font-weight: 500

.expose-extra
/*  text-align: center*/
  list-style: none
  padding: 0
  margin: 0
  margin-left: 16px

.expose-extra li
  display: inline-block
  padding: 0 14px 0 0
  margin: 0

.expose-extra li p
  padding: 4px 0
  margin: 0

p.price
  font-weight: 500

.expose-und-eckdaten
  background-color: rgb(237, 237, 237)
  border: borderS()
  margin-top: 20px

.button-expose
  display: inline-block
  margin-top: 10px
  padding: 16px 8px 20px 16px

.button-expose a
  background-color: #AF152C
  padding: 12px 20px
  /*  margin: 0 40%*/
  border-radius: 2px
  font-size: 1.2em
  color: white
  text-decoration: none