@import 'stylus/*.styl'

/* Footer */

.footer-center
  text-align: center
  font-weight: 400
  padding-bottom: 14px

.bottom-footer p
  line-height: 1.8em
  margin: 0

.footer-center a:visited, .footer-center a:link
  color: #666666

#bottom-logo
  width: 250px

.bottom-footer .separator
  +between(340px, 540px)
    margin-right: -8px
    opacity: 0
    &:after
      content:"\a"
      white-space: pre
