@import 'stylus/*.styl'

/*  Fotos/Kasten  */

li a:hover, li a:link
  text-decoration: none

.wrapper
  margin: 0 auto
  padding: 0 0 0px 0
  max-width: 1280px
  list-style: none
  overflow:auto

.wrapper > h2
  text-align: center
  font-size: 1.7em

.gallery
  padding: 0
  margin: 0
  overflow: hidden
  
.gallery
  margin-bottom: 8px

.gallery li
  border: none
  outline: none
  float: left
  width: 31%
  margin: 1%
  BorderR()
  background-color: galleryBGColor
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  +below(1050px)
    width: 48.5%
    margin: 1% 0.75%

.front-gallery li
  +above(770px)
    width: 31.3%
    margin: 1%
  +below(770px)
    width: 48.5%
    margin: 1% 0.75%

#neubau a p
  +below(770px)
    padding: 16px 0 25px
    &:after
      content:"\a";
    white-space: pre;
  +below(600px)
    padding-bottom: 22px

.gallery li a p
  margin: 0
  padding-bottom: 3%
  font-size: 1.2em
  color: #000
  text-align: center
  font-weight: 500
  line-height: 1.6em

.gallery img
  border: none
  outline: none
  max-width: 100%
  max-width: 95%
  margin: 2.5%
  height: auto
  width: auto

.gallery ul li a:link
  text-decoration: none

.gallery li
  list-style: none
  
  /* Für Mieten */

.gallery.mieten :nth-child(3)
  margin: 1% auto 14px
  float: none
  overflow: hidden
  
  /* Gallery listing */

.gallery-listing
  margin-top: -8px

/* Spalten für Kaufen/Mieten Seiten */

.generic-linke-spalte
  float: left
  width: 18%
  margin: 5% 0% 0 1%
  +below(880px)
    width:98%
    margin: 10px 0 0 1%
    text-align: center

.generic-rechte-spalte
  float: left
  width: 80%
  margin: 0
  +below(880px)
    width:98%
    margin: 10px 1% 0 1%

.generic-rechte-spalte h2
  text-align: center
  margin: 12px 0

.gallery-spalten-wrapper h2
  padding: 4px 0 4px
  margin: 0

.generic-navigation
  list-style none
  padding 0
  margin 0

.generic-navigation li
  margin: 6px 5px 8px 0
  border-radius: 2px
  background-color: primaryColor
  padding: 6px 10px
  color: white
  width: 83%
  +between(415px, 880px)
    width: 165px
    display: inline-block
  +below(415px)
    width: 83%
    margin: 8px auto;

.generic-navigation a:link, .generic-navigation a:visited
  color: white
  text-decoration: none


.listing li img
  max-width: 75%
  height auto

.listing li
  text-align center
