@import 'stylus/*.styl'

/* Navigation */

.nav-wrapper
  background-color: primaryColor
  margin-bottom: 12px

nav
  margin: 0 auto
  padding: 0
  margin-bottom: 0px
  overflow: hidden
  max-width: 1280px

nav .header-center
  text-align: center

nav .header-right
  text-align: left

#menu-header-menue
  margin: 0
  padding: 0

#menu-header-menue:first-child
  padding-left: 10px

#menu-header-menue li
  display: inline-block
  padding: 8px 14px
  +below(1150px)
    padding: 6px 6px
  +below(1000px)
    padding: 4px 4px

#menu-header-menue li a
  color: #ffffff
  font-size: 1.70em
  font-weight: 500
  +below(1220px)
    font-size: 1.55em

#menu-header-menue li a:hover
  color: shade(white, 10)

nav a:link
  color: white
  text-decoration: none

.current-menu-item, #current-site
  text-decoration: underline

/* Neuer Header */

ul.header-fotos
  list-style: none
  text-align: center
  margin: 0
  padding: 0
  margin-bottom: 10px

.header-fotos li
  display inline-block

//LOGO li
ul.header-fotos li:first-child
  margin: 1.5% 4% 0 0
  width: 29%
  margin-bottom: -10px
  overflow: hidden
  max-height: 196px
  +below(1310px)
    width 26%
  +below(1010px)
    width: 25%
    margin: 1% 0% 0 0

ul.header-fotos li:first-child > a

ul.header-fotos li:first-child > a > img
  width: 68%
  +between(1000px,1310px)
    width:74%

// 3 Fotos Rechts
//TODO: wraps below 750px
ul.header-fotos li:nth-child(n+2)
  background-color: galleryBGColor
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.6))
  BorderR()
  width: 18.5%
  margin: 1.5% 4% 0 0
  +below(1010px)
    width: 23%
    margin: 1.5% 2% 0 0
  +below(767px)
    display: none

ul.header-fotos li:nth-child(n+2) img
  width: 95%
  margin: 2.5% 2.5% -10px 2.5%

ul.header-fotos li:last-child
  margin-right: 0

.header-fotos li:nth-child(n+2) p
  margin: 0
  padding: 12px 10px 10px
  font-size: 1.2em
  font-weight: 500
  color: #3e3e3e
  +below(1310px)
    font-size: 1em
    padding: 10px 4px 6px

.header-fotos li a:visited, .header-fotos li a:link
  color: black

span.headertag
  +between(540px, 1060px)
    &:after
      content:"\a"
      white-space: pre

/* Flaggen neben Header */

#menu-header-menue li.flag
  padding: 14px 14px 0 0
  +below(1150px)
    padding: 10px 6px 0 0
  +below(1000px)
    padding: 6px 4px 0 0

.flaggen
  float: right
  padding-right: 1.5%
  +above(1310px)
    padding-right: 8px
  +between(1010px, 1310px)
    padding-right: 2.5%

.items
  display: inline-block
  width: 100%

.items > li
  +below(800px)
    //float: left
    //width: 30%
    //margin: 0

#menu-header-menue li.flag img
  padding-bottom: 4px

/* Text-Line für header */

#logo-li h2
  font-family: 'Kaushan Script', cursive
  font-weight: 400
  font-size: 1.3em
  /*  font-style: italic*/
  display: inline-block
  color: white
  margin: 0
  padding: 0
  +below(1310px)
    font-size: 1em
    margin-top: -10px
  +between(1060px, 1310px)
    font-size: 0.95em
  +below(1060px)
    margin-top: 0



/*.header-center
  +below(735px)
    float: left
    width: 30%

.header-right
  +below(735px)
    float: left
    width: 70%

ul.header-fotos li:first-child
  +below(735px)
    width: 100%
    */
    
    
/* Für Handy */

.menuIcon 
  display: none
  //background: #000
  width: 100%
  text-align: center

.menuIcon:hover 
  //background: #999

.menuIcon a 
  width: 100%
  display: inline-block
  color: #fff
  font-size: 1.55em

.menuIcon a img
  vertical-align: middle
  
+between(767px,960px)
  .items > li
    float: left
    width: 21%
  .flaggen
    float: left
    width: 29%
    padding-left: 4px

@css {
  @media only screen and (max-width: 767px) {
    
    #logo-li a h2 {
      display: none;
    }

    ul.header-fotos {
      margin: 0
    }

    ul.header-fotos li:first-child {
      width: 50%;
    }

    .header-right {
      width: 100%;
      height: 10px;
      -webkit-transition: height 0.5s;
      -moz-transition: height 0.5s;
      transition: height 0.5s;
    }

    .header-right.menuOpen {
      height: 130px;
      -webkit-transition: height 0.5s;
      -moz-transition: height 0.5s;
      transition: height 0.5s;
    }

    #menu-header-menue:first-child {
      padding: 0;
    }

    .items {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      transition: max-height 0.5s;
    }
    .items.menuOpen {
      max-height: 1000px;
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      transition: max-height 1s;
    }
    .items > li {
      display: inline-block;
      width: 31.333%;
    }
    .items > li:hover {
      background: #750E1D;
    }
    .items li a {
      color: #fff;
      text-shadow: #848484 0px 1px 2px;
      padding: 10px 0;
      width: 100%;
    }

    #menu-header-menue li a {
      width: 25%;
      margin: 0;
      padding: 0;
    }

    .flaggen {
      float: none;
      padding: 0;
      display: inline-block;
      width: 65.5%;
      text-align: left;
    }

    #menu-header-menue li.flag {
      padding: 6px 12px 0 0;
    }

    #menu-header-menue li.flag img {
      padding: 0;
    }

    .menuIcon {
      display: inline-block;
    }
  }
}