@import 'stylus/*.styl'

/* Wetter Widget */

#weather
  margin-bottom: 0px

.weather
  width: 100%
  height: 146px
  overflow: hidden
  font-size: 16px
  font-weight: 400
  text-transform: uppercase
  padding: 0

.bxslider
  padding:0
  margin:0

.col-a
  padding: 0 0 0 10px
  width: 40%
  float: left
  text-align: center

.location
  /*  padding:10px 25px 0px*/
  font-size: 18px

ul.bxslider
  list-style: none

.col-b
  float: left
  width: 40%
  list-style: none
  text-align: center
  padding-left: 10px
  padding-top: 6px

.temp
  font-size: 26px
  padding: 0
  margin: 0

/* Search Bar Linke Spalte */

.search-wrapper
  margin: 0 auto 15px
  padding: 14px 8px
  color: black
  text-align: center

.contact-us h3
  font-weight: 400
  font-size: 1.2em
  margin: 0
  padding: 0
  text-align: center

.contact-us p a
  color: white
  color: black
  font-size: 1.5em
  text-decoration: none
  font-weight: 500

#search-input
  max-width: 135px
  padding: 4px
  margin-right: 6px
  +below(620px)
    margin-bottom: 10px

#search-input
  +placeholder()
    color: #333

#search-input:invalid
  box-shadow: none

#search-button
  padding: 4px

.search-label
  display: block
  font-size: 1.5em
  text-align: center
  padding-bottom: 12px

.contact-us
  height: 80px
  margin: 0 auto 15px
  padding: 14px 8px

.contact-us h2
  text-align: center
  margin: 0

#links
  margin-left: 0
  padding: 0
  width: 100%

#links a
  text-align: center
  padding: 12px 31px

/* Spalten etc */

.spalte-wrapper-container
  text-align: center

.spalte-wrapper
  overflow: hidden
  max-width: 1260px
  margin: 0 auto
  padding: 0 0.65%

.spalte-links
  float: left
  width: 19%
  margin-right: 0.8%
  background-color: contentBGColor
  border: borderS()
  height: 382px
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()

.spalte-rechts
  float: left
  width: 78.7%
  height: 382px
  +below(1060px)
    height: auto
  margin-bottom: 12px
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()

.spalte-wrapper-index > .spalte-links
  +below(1160px)
    width: 98%
    margin: 4px 0 10px

.spalte-wrapper-index > .spalte-rechts
  +below(1160px)
    width: 98%
    margin: 10px 0 14px
  +between(1110px, 1160px)
    padding-bottom: 1.2%

.spalte-wrapper-index > .spalte-links
  +below(1160px)
    height: auto

.spalte-wrapper-index > .spalte-links .search-wrapper,
.spalte-wrapper-index > .spalte-links .contact-us,
.spalte-wrapper-index > .spalte-links .weather
  +below(1160px)
    float:left
    width: 33.3333%
    height: auto
    margin: 10px 0
    padding: 0

.col-a, .col-b
  +below(1160px)
    padding: 0

.col-b
  +below(1160px)
    margin-top: -10px

p.weather-img
  +below(1160px)
    margin: 0

/* Slideshow Oben */

.slideshow
  margin: 1%
  max-width: 48%
  float: left

.flexslider
  border: none
  outline: none

.side
  margin: 1%
  max-width: 47%
  float: left
  overflow: hidden
  padding-left: 1%

.side h1, .side h2, .side p, .side a
  color: #000

.side h1
  text-align: center
  font-weight: 700
  margin: 0
  padding-top: 14px
  +below(800px)
    font-size: 1.3em

.side h2
  font-weight: 400
  margin-bottom: 26px
  +below(800px)
    margin-bottom: 22px
    font-size: 1.1em

.side p
  text-align: left
  font-size: 1.2em
  font-weight: 400

.side > .button-top-offer
  text-align: center
  margin: 0

.side :link, .top h1:hover
  color: hoverBlackHeader
  text-decoration: none
  
  
.side, .slideshow
  +below(500px)
    max-width: 100%

.side h1
  +below(500px)
    padding-top: 0

/* Spalten Unten */

.spalte-wrapper-unten
  overflow: hidden
  max-width: 1260px
  margin: 0 auto
  padding: 20px 10px

.spalte-links-unten
  float: left
  width: 19%
//  background-color: contentBGColor
//  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))

.spalte-rechts-unten
  float: left
  width: 78.7%
//  margin-bottom: 12px
//  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
//  background-color: contentBGColor

.review
  margin: 0

.button
  padding: 0px 16px 16px 0px

.button-review
  margin-top: 28px
  position: relative
  left: 23%
  +between(1000px, 1100px)
    left: 19%
  +between(1100px, 1200px)
    left: 21%
  +below(900px)
    left: 13.5%
  +below(600px)
    left: 0
    margin: 10px auto 0
    width: 100%
    text-align: center

/* Start of Column Magic CSS */

#container2
  BorderR()
  padding: 14px 0
  clear: left
  float: left
  overflow: hidden
  background-color: contentBGColor
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  border: borderS()

#container1
  float: left
  width: 100%
  position: relative
  right: 50%
//  background-color: contentBGColor

#col1
  float:left
  width: 20%
  left: 51%
  position:relative
  overflow:hidden
  +below(600px)
    width: 97%
    
#col1 ul li
  +below(600px)
    float: left
    width: 50%

#col1 ul li:nth-child(3)
  +below(600px)
    margin: 1% auto 0px
    float: none
    
#col2
  float:left
  width: 77%
  left: 52%
  position:relative
  overflow:hidden
  +below(600px  )
    width: 97%

  /* Buero pics & text */

.buero
  padding: 0
  +below(600px)
    margin: 0

.buero
  list-style: none

.buero li img
  width: 92%
  margin: 0 4%

.buero li:nth-child(n+2)
  margin: 30px 0 0 0
  +below(600px)
    margin: 0

.buero li p
  margin: 0
  margin-bottom: 10px
  padding: 2px 0
  text-align: center
  font-size: 1.1em