/* Kontakt-Seite */

@import 'stylus/*.styl'

.hr
  width: 55%
  //margin: 0 auto
  margin: 0 0 0 10px
  border: 1px solid #ebebeb

#zeiten
  padding-top: 16px
  width: 250px
  //margin: 0 auto

#zeiten p
  text-align left

.buero-links, .buero-rechts
  float: left

.buero-links
  width: 38.8%

.buero-rechts
  width: 60%

#buero-pic
  max-width: 90%

.buero
  overflow: hidden

.maps-container
  padding: 0 8px 8px 8px

.maps-wrapper
  position: relative
  padding-top: 10px
  padding-bottom: 40px
  height: 0
  +below(600px)
    padding-bottom: 80%

.maps-wrapper iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.contact
  padding-top 10px
  overflow auto

.felder-links
  width: 40%
  float: left
  overflow hidden

.felder-rechts
  float: left
  width 60%

.contact p
  float: left
  width: 40%

.contact p label
  display: block

.felder-rechts p
  width: 90%

.felder-rechts label
  padding-bottom: 10px

.felder-rechts textarea
  width: 95%
  height: 120px


.contact button
  margin: 10px 30px
  padding: 1.7% 30px;
  background-color: #891123;
  float: left;
  border: none;
  outline: 0;
  color: #fff;
  BorderR()

.contact button:hover
  cursor: pointer
