@import 'stylus/*.styl'

/* Eingetragene Anfragen Kunden */

/* Kunden Suche / Listing */

.listing
  text-decoration: none
  list-style: none
  margin: 0 0
  padding: 0

.listing-wrapper
  margin: 0 auto
  max-width: 960px
  overflow: hidden

.listing li
//  width: 98%
  margin: 16px 0
  background-color: contentBGColor
  border: borderS()
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()

.listing li h3, .listing li h4, .expose-description h3
  color: black
  padding: 16px 10px
  margin: 0
  font-size: 1.6em
  font-weight: 500
  text-align: center
  
.listing li h4, .expose-description h4
  padding: 4px 8px
  font-size: 1.2em
  font-weight 400
  margin-top: -10px

.listing li p, .listing li a, .expose-description p, .expose-description a
  margin: 0
  padding: 0 20px
  font-size: 1.2em
  color: black
  text-align: left
  font-weight: 400
  line-height: 1.3em

.listing li p a
  padding: 0
  font-size: 1.0em

.listing li p a:hover
  color: tint(black, tintValue * 2)

ul.listing li span.kunden-id
  text-align: right
  display: block

ul.listing li p:last-child
  padding-bottom: 16px

ul.listing li:last-child
  margin-bottom: 18px
