@import 'stylus/*.styl'

.listing-wrapper-presse
  max-width: 800px

ul.presse li
  text-align: center
  padding-bottom: 20px

ul.presse li p
  text-align: center
  padding: 16px 20px 0

ul.presse li p:last-child
  padding-bottom: 0

ul.presse .presse-text
  text-align: left

ul.presse li a
  color: tint(black, 10)
  text-decoration: underline

ul.presse li a:hover
  color: tint(black, 20)
