@import 'stylus/*.styl'

.stadt li p
  padding: 4px 20px

.stadt-rechte-spalte
  width: 78%
  +above(1060px)
    width: 80%
  +between(880px, 920px)
    width: 77%
  +between(920px, 960px)
    width: 77.5%
  +below(880px)
    width: 97.5%

.stadt-suche-container
  margin-bottom: 24px

.stadt-objekt-liste li:first-child
    margin-top: 0
