/*
Theme Name: Site Schaich
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Carsten H.
Author URI: http://bwf.ninja
Description: Schaich Theme
Version: 1.0
Text Domain: siteschaich

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import 'stylus/*.styl'

body
  background-color: backgroundColor
  margin: 0
  font-family: 'Roboto', sans-serif
  
/* IE8 border fix */

img
  border: none

/*  Navigation/Header  */

a:link, a:visited
  color: #000

a, .banner, .button
  transition: background-color 0.15s linear;

/* Rechte Spalte ?Unten? */

.spalte-rechts
  background-color: contentBGColor
  border: borderS()

.flexslider
  box-shadow: none

#bericht
  background-color: rgba(255, 255, 255, 0)

/* Doofe Buttons */

.button-bottom
  margin-top: 20px
  padding: 0

/* H4 für Service Seiten */

.listing.service h4
  font-size: 1.2em
  text-align: left
  color: black
  margin: 18px 10px 6px
  font-weight: 500
  padding: 4px 10px 0
  
.listing li a
  color: #393939