@import 'stylus/*.styl'

.suche-wrapper
  max-width: 1280px
  margin: 0 auto
  overflow: hidden

.suche-main
  margin: 0 22px

.suche-objekt-liste
  list-style: none
  margin: 0
  padding: 0

.suche-objekt-liste li
  overflow: hidden
  margin-bottom: 18px
  background-color: contentBGColor
  border: borderS()
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()

.suche-objekt-liste h3
  margin: 0
  padding: 8px 0 12px 16px
  font-weight: 500
  font-size: 1.2em
  +below(600px)
    font-size: 1em
    padding: 8px 0 12px 6px

.suche-objekt-liste a h3:hover
  color: hoverBlackHeader

.suche-objekt-links
  width: 60%
  float: left
  +below(600px)
    width: 100%

.suche-objekt-links .img-1, .suche-objekt-links .img-2
  float: left
  width: 46%
  padding: 0 1% 10px 16px
  position: relative
  +below(600px)
    padding: 0 1% 10px 4px
    width: 47.5%
  
.suche-objekt-links img
  width: 100%
  display: inline-block
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.2))

.suche-objekt-links .img-2
  padding: 0 1% 10px 4px

.suche-objekt-rechts
  width: 40%
  float: left
  +below(600px)
    width: 100%

.suche-objekt-spans
  overflow: hidden
  +below(600px)
    margin-left: 6px

.suche-objekt-status
  border-radius: 2px
  background-color: primaryColor
  color: white
  padding: 4px 10px
  margin-right: 8px
  float:left

.suche-objekt-location
  font-weight: 500
  font-size: 1.1em
  float:left

.suche-objekt-price
  font-weight: 500
  font-size: 1.1em
  padding-right: 35px
  float:right

.suche-objekt-location, .suche-objekt-price
  padding-top: 2px

.suche-objekt-description
  width: 92.5%
  +below(600px)
    margin: 10px 0 16px 0
    padding-left: 6px
    float: left

.suche-objekt-ref
  color: #333333
  font-size: 0.9em
  display: block
  +below(600px)
    display: inline-block
    padding-left: 2px
    float: right

a.suche-objekt-button
  border-radius: 2px
  background-color: primaryColor
  padding: 8px 10px

a.suche-objekt-button:hover
  background-color: tint(primaryColor, tintValue)

.suche-objekt-button:link, .suche-objekt-button:visited
  color: white

.suche-objekt-button-center
  text-align: center
  margin: 0 0 14px

/* Reserviert/Verkauft Overlay Suche */

.suche-status
  position: absolute
  z-index:999
  background-color: rgba(255, 255, 255, 0.8)
  text-align: center
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,0.8))
  BorderR(4px)
  transform:rotate(-25deg)

.suche-status > span
  font-size: 3.3vw
  color: #a30000
  text-transform: uppercase
  font-weight: 400
  +above(1330px)
    font-size: 2.8em
  +between(600px, 880px)
    font-size: 4.1vw
  +below(600px)
    font-size: 6.5vw

.img-1 .suche-status
  width: 21vw;
  left: 2vw;
  top: 5vw;
  +above(1330px)
    left: 5.5%
    width: 92%
    top: 34%
  +between(600px, 880px)
    width: 26vw
    top: 6vw
  +below(600px)
    width: 40vw
    left: 2.5vw
    top: 11vw
    
.img-2 .suche-status
  width: 21vw;
  left: 0.5vw;
  top: 5vw;
  +above(1330px)
    left: 1%
    width: 95%
    top: 34%
  +between(600px, 880px)
    width: 26vw
    top: 6vw
  +below(600px)
    width: 40vw
    left: 2.5vw
    top: 11vw
    
    
/* Suche Immobilie mit Kriterien */

.suche-container
  padding: 4px 0
  background-color: contentBGColor
  border: borderS()
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()
  overflow: hidden
  margin-bottom: 18px
  +below(475px)
    text-align center

.s1, .s2, .s3, .s4, .s5
  float: left
  padding-right: 2.5%
  cl()

.s1
  width: 12%
  +between(735px, 805px)
    padding-right: 4%
  +between(1px, 735px)
    max-width:20%
    min-width: 120px;

.s2
  width: 13%
  +below(805px)
    padding-right: 1%
  +between(1px, 735px)
    max-width:20%
    min-width: 120px;

.s2 select, .s4 select, .select2-selection__rendered input
  font-family: inherit // Else these don't use Roboto in FF

.s3
  width: 4%
  +between(1px, 735px)
    max-width:10%
    min-width: 38px;
  +between(20px, 475px)
    min-width: 120px;
    clear:both

.s4
  width: 13%
  +between(1px, 735px)
    max-width:20%
    min-width: 120px
  +between(20px, 450px)
    padding-right: 9%
  +between(450px, 475px)
    padding-right:20%

.s5
  width: 47%
  float: left
  margin: 0
  padding: 0
  padding-top: 4px
  +below(735px)
    width: 95%
    margin: 0 2.5% 0 2.5%

.select2-container--default .select2-results>.select2-results__options
  max-height: 300px

.suche-container p
  padding: 4px 10px 5px
  margin: 5px 2px

select option
  padding: 6px
  font-size: 1.1em
  user-select: none
  -webkit-user-select: none
  font-family: 'Roboto', sans-serif

.suche-container input, .suche-container .s2 select, .suche-container .s4 select
  padding: 1px 10px
  margin: 4px 2px
  width: 100%
  height: 28px
  background-color: BGInput
  border: none

.s8
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden
  padding-top: 8px

.s8 button
  float:left
  margin: 0.9%
  background-color: tint(primaryColor, tintValue)
  border: none
  outline: none
  color: white
  padding: 1.1% 1.5%
  font-family: 'Roboto', sans-serif
  border-radius: 2px
  display: block
  width: 31.4%

.s8 button:hover
  cursor: pointer

.s8 .button-wide
  margin-top: 10px
  width: 48%
  padding: 8px 8px
  padding: 1.7%;
  background-color: primaryColor

/* Overrides für Select2 */

.select2-results__option
  padding: 5px

.select2-container--default .select2-results__option--highlighted[aria-selected]
  background-color: primaryColor
  color: white

.select2-container--default .select2-results__option[aria-selected=true]
  background-color: primaryColor
  color: white
  background-image: url('../img/checkmark-26-white.png')
  background-repeat: no-repeat
  background-position: 95% 2px
  background-size: 26px 26px

.select2-container--default .select2-results>.select2-results__options
  max-height: 300px

.select2-container--default .select2-selection--multiple .select2-selection__choice
  background-color: BGInput
  border: none
  outline: none
  border-radius: 2px
  padding: 4px 6px
  margin-left: 1px

.select2-container--default .select2-selection--multiple
  border-radius: 2px
