@import 'stylus/*.styl'

.team-wrapper
  max-width: 1260px
  margin: 0 auto

.team h1
  text-align: center

.team-name
  float: left
  display: inline-block
  margin: 0
  margin-right 10px
  padding: 2px 0

.team-job-title
  float: left
  padding: 3px 0
  font-weight: 500
  color: tint(black, 10)
  +below(435px)
    padding:0px 0

.line1
  overflow: hidden

.team-listing li > img
  max-width: 18%

.team-rechts
  float: left
  width: 78.5%
  padding: 10px 10px 10px 6px;
  +between(615px, 715px)
    width: 75%
  +below(615px)
    width:70%

.team-listing img
  float: left
  width: 30%
  /*  margin: 1%*/
  padding: 16px 10px 10px
  width: 105px

.team-listing
  list-style: none
  overflow: hidden
  padding: 0
  margin: 0

.team-listing li
  margin: 1%
  width: 97%
  float: left
  border: borderS()
  background-color: contentBGColor
  ShadowsWhiteBG(4px 4px 14px -6px rgba(0,0,0,.3))
  BorderR()

.team-listing li:nth-child(2n+1)
  clear: both

.team-rechts p
  margin: 0
  padding: 4px 0px 16px

.team-rechts a
  display:block

a.mail
  background:url(../img/Message%20Filled-25.png) center left no-repeat
  line-height: 2em
  color: #36050c

a.mail:hover, a.mail:active
  color: #AF152C

a.tel
  background:url(../img/Phone%20Filled-25.png) center left no-repeat
  line-height: 1.4em
  display: inline-block
  float: left

a.tel, a.mail
  padding: 0 0 0 30px
  white-space:nowrap
  background-size: 20px 20px

.lastline
  width: 100%

.team-flaggen
  display: inline-block
  float:right
  margin-top: 10px
  +below(885px)
    margin-right:-10px
  +between(885px, 1000px)
    margin-right:-4px
  +between(1000px, 1180px)
    margin-right: -24px
  +above(1180px)
    margin-right: -60px

.team-flaggen img
  width: 32px
  padding: 2px 4px
