.footer-wrapper
  .footer-center
    img#bottom-logo(src="/img/schaich-fixed-grau.png")
    .bottom-footer
      p
        span.adress
          | Partida Barranquets, C/ 29, 2B, BG
        span.separator
          | &nbsp;-&nbsp;
        a(href="mailto:elspoblets@schaich-immobilien.de") elspoblets@schaich-immobilien.de
      p
        span Tel:
        a(href="tel:+34966469452") (0034) 966 469 452
        | &nbsp;-&nbsp;
        a.impressum(href="//www.spanienobjekte.com/impressum-03.html") Impressum
