.nav-wrapper
  nav
    .header-center
      ul.header-fotos
        li#logo-li
          a(href='/index.html')
            img#logo(src='/img/schaich-logo-1.png')
            h2
              | Traumhafte Immobilien
              span.headertag
              | &nbsp;an der Costa Blanca
        li
          a(href='/kunden-suche.html')
            img(src='/img/N-2712-01-s.jpg')
            p Bis 200.000 &euro;
        li
          a(href='/kunden-suche.html')
            img(src='/img/2-2712-1-s.jpg')
            p 200.000 &euro; - 500.000 &euro;
        li
          a(href='/kunden-suche.html')
            img(src='/img/R-3013-s.jpg')
            p Ab 500.000 &euro;
            
    .menuIcon
      a(href="#menuExpand") Home - Menu
    .header-right
      ul#menu-header-menue.header
        .items
          li
            a(href='/index.html', alt='') Home
          li
            a(href='/haeuser.html', alt='') Kaufen
          li
            a(href='/mieten.html', alt='') Mieten
          li
            a(href='http://www.cks-sl.com', alt='') Neubau
          li
            a(href='http://www.cks-sl.com/', alt='') Renovieren
          li
            a(href='/referenzen.html', alt='') Referenzen
          li.kontakt
            a(href='/kontakt.html', alt='') Kontakt
          .flaggen
            li.flag
              a(href='/index.html')
                img(src='/img/flags/UK.png', height='24px')
            li.flag
              a(href='/index.html')
                img(src='/img/flags/Spain.png', height='24px')
            li.flag
              a(href='/index.html')
                img(src='/img/flags/France.png', height='24px')
            li.flag
              a(href='/index.html')
                img(src='/img/flags/Russia.png', height='24px')
            li.flag
              a(href="//facebook.com/")
                img(src="/img/flags/Facebook.png", height="24px")
                
script.
  $(function() {
    $("a[href=#menuExpand]").click(function(e) {
        $(".items").toggleClass("menuOpen");
        $(".header-right").toggleClass("menuOpen");
        e.preventDefault();
    });
  });
