.suche-container
  form#myform(method="get", action="test.php")
    .s1
      p Preis
      p Baujahr
      p Grundstück
      p Wohnfläche
      p Schlafzimmer
      p Typ
    .s2
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 50.000 €
        option(value='') 100.000 €
        option(value='') 150.000 €
        option(value='') 200.000 €
        option(value='') 250.000 €
        option(value='') 300.000 €
        option(value='') 350.000 €
        option(value='') 400.000 €
        option(value='') 450.000 €
        option(value='') 500.000 €
        option(value='') 550.000 €
        option(value='') 600.000 €
        option(value='') 650.000 €
        option(value='') 700.000 €
        option(value='') 750.000 €
        option(value='') 800.000 €
        option(value='') 850.000 €
        option(value='') 900.000 €
        option(value='') 950.000 €
        option(value='') 1.000.000 €
        option(value='') 1.100.000 €
        option(value='') 1.200.000 €
        option(value='') 1.300.000 €
        option(value='') 1.400.000 €
        option(value='') 1.500.000 €
        option(value='') 1.600.000 €
        option(value='') 1.700.000 €
        option(value='') 1.800.000 €
        option(value='') 1.900.000 €
        option(value='') 2.000.000 €
        option(value='') 2.250.000 €
        option(value='') 2.500.000 €
        option(value='') 2.750.000 €
        option(value='') 3.000.000 €
      select#contact_type(name='baujahr')
        option(value='') << alle >>
        option(value='') 1950
        option(value='') 1960
        option(value='') 1970
        option(value='') 1975
        option(value='') 1970
        option(value='') 1985
        option(value='') 1990
        option(value='') 1995
        option(value='') 2000
        option(value='') 2005
        option(value='') 2010
        option(value='') 2015
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 550 m²
        option(value='') 600 m²
        option(value='') 650 m²
        option(value='') 700 m²
        option(value='') 750 m²
        option(value='') 800 m²
        option(value='') 850 m²
        option(value='') 900 m²
        option(value='') 950 m²
        option(value='') 1.000 m²
        option(value='') 1.100 m²
        option(value='') 1.200 m²
        option(value='') 1.300 m²
        option(value='') 1.400 m²
        option(value='') 1.500 m²
        option(value='') 1.600 m²
        option(value='') 1.700 m²
        option(value='') 1.800 m²
        option(value='') 1.900 m²
        option(value='') 2.000 m²
        option(value='') 2.200 m²
        option(value='') 2.400 m²
        option(value='') 2.600 m²
        option(value='') 2.800 m²
        option(value='') 3.000 m²
        option(value='') 3.200 m²
        option(value='') 3.400 m²
        option(value='') 3.600 m²
        option(value='') 3.800 m²
        option(value='') 4.000 m²
        option(value='') 4.200 m²
        option(value='') 4.400 m²
        option(value='') 4.600 m²
        option(value='') 4.800 m²
        option(value='') 5.000 m²
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 600 m²
        option(value='') 700 m²
        option(value='') 800 m²
        option(value='') 900 m²
        option(value='') 1.000 m²
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 1
        option(value='') 2
        option(value='') 3
        option(value='') 4
        option(value='') 5
        option(value='') 6
        option(value='') 7
        option(value='') 8
        option(value='') 9
        option(value='') 10
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') Villa & Finca
        option(value='') Luxus
        option(value='') Neubau
        option(value='') Reihenhaus
        option(value='') Grundstück
        option(value='') Wohnung
    .s3
      p bis
      p bis
      p bis
      p bis
      p bis
    .s4
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 50.000 €
        option(value='') 100.000 €
        option(value='') 150.000 €
        option(value='') 200.000 €
        option(value='') 250.000 €
        option(value='') 300.000 €
        option(value='') 350.000 €
        option(value='') 400.000 €
        option(value='') 450.000 €
        option(value='') 500.000 €
        option(value='') 550.000 €
        option(value='') 600.000 €
        option(value='') 650.000 €
        option(value='') 700.000 €
        option(value='') 750.000 €
        option(value='') 800.000 €
        option(value='') 850.000 €
        option(value='') 900.000 €
        option(value='') 950.000 €
        option(value='') 1.000.000 €
        option(value='') 1.100.000 €
        option(value='') 1.200.000 €
        option(value='') 1.300.000 €
        option(value='') 1.400.000 €
        option(value='') 1.500.000 €
        option(value='') 1.600.000 €
        option(value='') 1.700.000 €
        option(value='') 1.800.000 €
        option(value='') 1.900.000 €
        option(value='') 2.250.000 €
        option(value='') 2.500.000 €
        option(value='') 2.750.000 €
        option(value='') 3.000.000 €
        option(value='') 3.250.000 €
        option(value='') 3.500.000 €
        option(value='') 3.750.000 €
        option(value='') 4.000.000 €
        option(value='') 4.000.000 €
        option(value='') 4.250.000 €
        option(value='') 4.500.000 €
        option(value='') 4.750.000 €
        option(value='') 5.000.000 €
      select#contact_type1(name='baujahr')
        option(value='') << alle >>
        option(value='') 1950
        option(value='') 1960
        option(value='') 1970
        option(value='') 1975
        option(value='') 1970
        option(value='') 1985
        option(value='') 1990
        option(value='') 1995
        option(value='') 2000
        option(value='') 2005
        option(value='') 2010
        option(value='') 2015
      select#contact_type2(name='grund')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 550 m²
        option(value='') 600 m²
        option(value='') 650 m²
        option(value='') 700 m²
        option(value='') 750 m²
        option(value='') 800 m²
        option(value='') 850 m²
        option(value='') 900 m²
        option(value='') 950 m²
        option(value='') 1.000 m²
        option(value='') 1.100 m²
        option(value='') 1.200 m²
        option(value='') 1.300 m²
        option(value='') 1.400 m²
        option(value='') 1.500 m²
        option(value='') 1.600 m²
        option(value='') 1.700 m²
        option(value='') 1.800 m²
        option(value='') 1.900 m²
        option(value='') 2.000 m²
        option(value='') 2.200 m²
        option(value='') 2.400 m²
        option(value='') 2.600 m²
        option(value='') 2.800 m²
        option(value='') 3.000 m²
        option(value='') 3.200 m²
        option(value='') 3.400 m²
        option(value='') 3.600 m²
        option(value='') 3.800 m²
        option(value='') 4.000 m²
        option(value='') 4.200 m²
        option(value='') 4.400 m²
        option(value='') 4.600 m²
        option(value='') 4.800 m²
        option(value='') 5.000 m²
      select#contact_type(name='haus')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 600 m²
        option(value='') 700 m²
        option(value='') 800 m²
        option(value='') 900 m²
        option(value='') 1.000 m²
      select#contact_type(name='schlafzimmer')
        option(value='') << alle >>
        option(value='') 2
        option(value='') 3
        option(value='') 4
        option(value='') 5
        option(value='') 6
        option(value='') 7
        option(value='') 8
        option(value='') 9
        option(value='') 10
    .s5
      select.select-multiple(multiple='multiple')
        optgroup(label='Costa Blanca Nord')
          option(name="town1" value='Denia') Denia
          option(name="town2" value='Els Poblets') Els Poblets
          option(name="town3" value='Adsubia') Adsubia
          option(name="town4" value='La Sella') La Sella
          option(name="town5" value='Alcalali') Alcalali
          option(name="town6" value='Gata de Gorgos') Gata de Gorgos
          option(name="town7" value='Torrevieja') Torrevieja
          option(name="town8" value='Javea') Javea
          option(name="town9" value='Aspe') Aspe
          option(name="town10" value='Beniarbeig') Beniarbeig
          option(name="town12" value='Benigembla') Benigembla
          option(name="town13" value='Oliva') Oliva
          option(name="town14" value='Teulada') Teulada
        optgroup(label='Costa Blanca Süd')
          option(name="town15" value='AL') Pego
          option(name="town16" value='AL') Monte Pego
          option(name="town17" value='calpe') Calpe
          option(name="town18" value='AL') Orba
          option(name="town19" value='AL') Orito
          option(name="town20" value='AL') Muchamiel
          option(name="town21" value='AL') Moraira
          option(name="town22" value='AL') Lliber
      .s8
        button.button-denia(type='button')
          | Gebiet Denia
        button.button-elspoblets(type='button')
          | Els Poblets
        button.button-calpe(type='button')
          | Calpe
        button.button-lasella(type='button')
          | La Sella
        button.button-oliva(type='button')
          | Oliva
        button.button-javea(type='button')
          | Javea
        button.button-clear.button-wide(type='reset')
          | Auswahl löschen
        button.button-submit.button-wide(type='submit')
          | Suchen
        script(type='text/javascript').
          var myPlaceholder = 'Städte auswählen';
          var isIE10 = !!navigator.userAgent.match(/MSIE 10/i);
          var isIE11 = !!navigator.userAgent.match(/Trident.*rv\\:11\./);
          var $mySelect = $(".select-multiple");
          $mySelect.select2({
          multiple: true,
          width: "100%",
          placeholder: isIE11 || isIE10 ? '' : myPlaceholder,
          });
          if (isIE11 || isIE10) {
          $('.select2-search__field').attr('value', myPlaceholder);
          $(document).click(function(event) {
          if($(event.target).closest('.select2').length == 0 && $(event.target).closest('.select2-container').length == 0) {
          $('.select2-search__field').blur();
          $('.select2-search__field').attr('value', myPlaceholder);
          } else {
          $('.select2-search__field').attr('value', '');
          }
          });
          }
          $(".button-denia").on("click", function () { $mySelect.val(["denia", "elspoblets", "lasella"]).trigger("change"); });
          $(".button-elspoblets").on("click", function () { $mySelect.val(["elspoblets"]).trigger("change"); });
          $(".button-calpe").on("click", function () {
          $mySelect.val(["calpe"]).trigger("change");
          $mySelect.trigger("change");
          });
          $(".button-lasella").on("click", function () { $mySelect.val(["lasella"]).trigger("change"); });
          $(".button-oliva").on("click", function () { $mySelect.val(["oliva"]).trigger("change"); });
          $(".button-javea").on("click", function () { $mySelect.val(["javea"]).trigger("change"); });
          $(".button-clear").on("click", function () { $mySelect.val(null).trigger("change"); });
        script.
          $mySelect.val(null).trigger("change");
          $mySelect.trigger("change");
