.suche-container
  form#myform
    .s1
      p Preis
      p Baujahr
      p Grundstück
      p Wohnfläche
      p Schlafzimmer
      p Typ
    .s2
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 50 €
        option(value='') 75 €
        option(value='') 100 €
        option(value='') 125 €
        option(value='') 150 €
        option(value='') 200 €
        option(value='') 250 €
        option(value='') 300 €
        option(value='') 350 €
        option(value='') 400 €
        option(value='') 450 €
        option(value='') 500 €
        option(value='') 600 €
        option(value='') 700 €
        option(value='') 900 €
        option(value='') 1000 €
        option(value='') 1250 €
        option(value='') 1500 €
        option(value='') 1750 €
        option(value='') 2000 €
        option(value='') 2250 €
        option(value='') 2500 €
        option(value='') 2750 €
        option(value='') 3000 €
        option(value='') 3250 €
        option(value='') 3500 €
        option(value='') 3750 €
        option(value='') 4000 €
        option(value='') 4250 €
        option(value='') 4500 €
        option(value='') 4750 €
        option(value='') 5000 €
      select#contact_type(name='baujahr')
        option(value='') << alle >>
        option(value='') 1950
        option(value='') 1960
        option(value='') 1970
        option(value='') 1975
        option(value='') 1970
        option(value='') 1985
        option(value='') 1990
        option(value='') 1995
        option(value='') 2000
        option(value='') 2005
        option(value='') 2010
        option(value='') 2015
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 550 m²
        option(value='') 600 m²
        option(value='') 650 m²
        option(value='') 700 m²
        option(value='') 750 m²
        option(value='') 800 m²
        option(value='') 850 m²
        option(value='') 900 m²
        option(value='') 950 m²
        option(value='') 1.000 m²
        option(value='') 1.100 m²
        option(value='') 1.200 m²
        option(value='') 1.300 m²
        option(value='') 1.400 m²
        option(value='') 1.500 m²
        option(value='') 1.600 m²
        option(value='') 1.700 m²
        option(value='') 1.800 m²
        option(value='') 1.900 m²
        option(value='') 2.000 m²
        option(value='') 2.200 m²
        option(value='') 2.400 m²
        option(value='') 2.600 m²
        option(value='') 2.800 m²
        option(value='') 3.000 m²
        option(value='') 3.200 m²
        option(value='') 3.400 m²
        option(value='') 3.600 m²
        option(value='') 3.800 m²
        option(value='') 4.000 m²
        option(value='') 4.200 m²
        option(value='') 4.400 m²
        option(value='') 4.600 m²
        option(value='') 4.800 m²
        option(value='') 5.000 m²
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 600 m²
        option(value='') 700 m²
        option(value='') 800 m²
        option(value='') 900 m²
        option(value='') 1.000 m²
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 1
        option(value='') 2
        option(value='') 3
        option(value='') 4
        option(value='') 5
        option(value='') 6
        option(value='') 7
        option(value='') 8
        option(value='') 9
        option(value='') 10
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') Villa & Finca
        option(value='') Luxus
        option(value='') Reihenhaus
        option(value='') Wohnung & Apartment
    .s3
      p bis
      p bis
      p bis
      p bis
      p bis
    .s4
      select#contact_type(name='contact_type')
        option(value='') << alle >>
        option(value='') 50 €
        option(value='') 75 €
        option(value='') 100 €
        option(value='') 125 €
        option(value='') 150 €
        option(value='') 200 €
        option(value='') 250 €
        option(value='') 300 €
        option(value='') 350 €
        option(value='') 400 €
        option(value='') 450 €
        option(value='') 500 €
        option(value='') 600 €
        option(value='') 700 €
        option(value='') 900 €
        option(value='') 1000 €
        option(value='') 1250 €
        option(value='') 1500 €
        option(value='') 1750 €
        option(value='') 2000 €
        option(value='') 2250 €
        option(value='') 2500 €
        option(value='') 2750 €
        option(value='') 3000 €
        option(value='') 3250 €
        option(value='') 3500 €
        option(value='') 3750 €
        option(value='') 4000 €
        option(value='') 4250 €
        option(value='') 4500 €
        option(value='') 4750 €
        option(value='') 5000 €
      select#contact_type1(name='baujahr')
        option(value='') << alle >>
        option(value='') 1950
        option(value='') 1960
        option(value='') 1970
        option(value='') 1975
        option(value='') 1970
        option(value='') 1985
        option(value='') 1990
        option(value='') 1995
        option(value='') 2000
        option(value='') 2005
        option(value='') 2010
        option(value='') 2015
      select#contact_type2(name='grund')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 550 m²
        option(value='') 600 m²
        option(value='') 650 m²
        option(value='') 700 m²
        option(value='') 750 m²
        option(value='') 800 m²
        option(value='') 850 m²
        option(value='') 900 m²
        option(value='') 950 m²
        option(value='') 1.000 m²
        option(value='') 1.100 m²
        option(value='') 1.200 m²
        option(value='') 1.300 m²
        option(value='') 1.400 m²
        option(value='') 1.500 m²
        option(value='') 1.600 m²
        option(value='') 1.700 m²
        option(value='') 1.800 m²
        option(value='') 1.900 m²
        option(value='') 2.000 m²
        option(value='') 2.200 m²
        option(value='') 2.400 m²
        option(value='') 2.600 m²
        option(value='') 2.800 m²
        option(value='') 3.000 m²
        option(value='') 3.200 m²
        option(value='') 3.400 m²
        option(value='') 3.600 m²
        option(value='') 3.800 m²
        option(value='') 4.000 m²
        option(value='') 4.200 m²
        option(value='') 4.400 m²
        option(value='') 4.600 m²
        option(value='') 4.800 m²
        option(value='') 5.000 m²
      select#contact_type(name='haus')
        option(value='') << alle >>
        option(value='') 0 m²
        option(value='') 50 m²
        option(value='') 100 m²
        option(value='') 150 m²
        option(value='') 200 m²
        option(value='') 250 m²
        option(value='') 300 m²
        option(value='') 350 m²
        option(value='') 400 m²
        option(value='') 450 m²
        option(value='') 500 m²
        option(value='') 600 m²
        option(value='') 700 m²
        option(value='') 800 m²
        option(value='') 900 m²
        option(value='') 1.000 m²
      select#contact_type(name='schlafzimmer')
        option(value='') << alle >>
        option(value='') 2
        option(value='') 3
        option(value='') 4
        option(value='') 5
        option(value='') 6
        option(value='') 7
        option(value='') 8
        option(value='') 9
        option(value='') 10
    .s5
      select.select-multiple(multiple='multiple')
        optgroup(label='Costa Blanca Nord')
          option(value='denia') Denia
          option(value='elspoblets') Els Poblets
          option(value='AL') Adsubia
          option(value='lasella') La Sella
          option(value='AL') Alcalali
          option(value='AL') Gata de Gorgos
          option(value='AL') Torrevieja
          option(value='javea') Javea
          option(value='AL') Aspe
          option(value='AL') Beniarbeig
          option(value='AL') La Sella
          option(value='AL') Benigembla
          option(value='oliva') Oliva
          option(value='AL') Teulada
        optgroup(label='Costa Blanca Süd')
          option(value='AL') Pego
          option(value='AL') Monte Pego
          option(value='calpe') Calpe
          option(value='AL') Orba
          option(value='AL') Orito
          option(value='AL') Muchamiel
          option(value='AL') Moraira
          option(value='AL') Lliber
      .s8
        button.button-denia(type='button')
          | Gebiet Denia
        button.button-elspoblets(type='button')
          | Els Poblets
        button.button-calpe(type='button')
          | Calpe
        button.button-lasella(type='button')
          | La Sella
        button.button-oliva(type='button')
          | Oliva
        button.button-javea(type='button')
          | Javea
        button.button-clear.button-wide(type='reset')
          | Auswahl löschen
        button.button-submit.button-wide(type='submit')
          | Suchen
        script(type='text/javascript').
          var myPlaceholder = 'Städte auswählen';
          var isIE10 = !!navigator.userAgent.match(/MSIE 10/i);
          var isIE11 = !!navigator.userAgent.match(/Trident.*rv\\:11\./);
          var $mySelect = $(".select-multiple");
          $mySelect.select2({
          multiple: true,
          width: "100%",
          placeholder: isIE11 || isIE10 ? '' : myPlaceholder,
          });
          if (isIE11 || isIE10) {
          $('.select2-search__field').attr('value', myPlaceholder);
          $(document).click(function(event) {
          if($(event.target).closest('.select2').length == 0 && $(event.target).closest('.select2-container').length == 0) {
          $('.select2-search__field').blur();
          $('.select2-search__field').attr('value', myPlaceholder);
          } else {
          $('.select2-search__field').attr('value', '');
          }
          });
          }
          $(".button-denia").on("click", function () { $mySelect.val(["denia", "elspoblets", "lasella"]).trigger("change"); });
          $(".button-elspoblets").on("click", function () { $mySelect.val(["elspoblets"]).trigger("change"); });
          $(".button-calpe").on("click", function () {
          $mySelect.val(["calpe"]).trigger("change");
          $mySelect.trigger("change");
          });
          $(".button-lasella").on("click", function () { $mySelect.val(["lasella"]).trigger("change"); });
          $(".button-oliva").on("click", function () { $mySelect.val(["oliva"]).trigger("change"); });
          $(".button-javea").on("click", function () { $mySelect.val(["javea"]).trigger("change"); });
          $(".button-clear").on("click", function () { $mySelect.val(null).trigger("change"); });
        script.
          $mySelect.val(null).trigger("change");
          $mySelect.trigger("change");
